.card-info__title {
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: var(--dark-gray);
  margin-bottom: 15px;
}

.card-info__title_orange {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  display: flex;
  font-weight: 300;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  line-height: 1.1;
  color: var(--dark-gray);
}

.card-info__subtitle {
  font-weight: 300;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  line-height: 1.222222;
  color: var(--dark-gray);
  margin-bottom: 22.5px;
}

.product-card__container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 11px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.product-card__container_slider {
  @media (max-width: 478px) {
    padding: 0;
  }
}

.kom-pred__btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  justify-content: center;
  background-color: var(--color-orange);
  transition: 0.3s ease-in;
  outline: none;
  border: none;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);

  @media (max-width: 900px) {
    max-width: 440px;
    margin: 0 auto;
  }

  @media (max-width: 468px) {
    height: 45px;
    line-height: 45px;
  }
}

.kom-pred__btn:hover {
  background-color: var(--ligth-gray);
}

.card-info__peculiarities {
  width: 100%;
  border-radius: 0;
  height: 357px;
  overflow: hidden;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  font-family: 'TT Norms Pro Medium', sans-serif;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  line-height: 1.22222;
  color: var(--dark-gray);
  padding: 13px 30px;
  background: rgba(218, 218, 218, 1);
}

.table td {
  width: 50%;
  padding: 9px 20px;
  font-family: 'TT Norms Pro Regular', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.375;
  color: #232323;

  @media (max-width: 468px) {
    padding: 9px 10px;
  }
}

.table tbody tr:hover {
  background: rgba(231, 231, 231, 1);
}

.breadcrumbs {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: 899px) {
    margin-top: 160px;
  }
}

.breadcrumbs__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #c5c5c5;
  margin-right: 15px;
}

.breadcrumbs__link:first-child {
  margin-left: 0;
}

.breadcrumbs__link::before {
  position: relative;
  content: '/';
  padding-left: 15px;
  left: -15px;
  pointer-events: none;
}

.breadcrumbs__link:first-child::before {
  content: none;
}

.breadcrumbs__links {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  line-height: 1.1;
  color: var(--ligth-gray);
  flex-wrap: wrap;
  row-gap: 20px;
}

.breadcrumbs__links > span {
  position: relative;
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: var(--dark-gray);
}

.breadcrumbs__links > span::before {
  position: relative;
  content: '/';
  padding-left: 15px;
  left: -15px;
  pointer-events: none;
  color: #c5c5c5;
}

.product-card {
  width: 100%;
  padding: 40px 0 50px;
  background: rgba(244, 244, 244, 1);
}

.product-card .card-info__title {
  font-size: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem);
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
}

.product-card-box {
  display: flex;
  column-gap: 46px;

  @media (max-width: 900px) {
    column-gap: 0;
    row-gap: 40px;
    flex-direction: column;
  }
}

.card {
  max-width: 750px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1280px) {
    max-width: calc(100% - 600px);
  }

  @media (max-width: 1100px) {
    max-width: 50%;
  }

  @media (max-width: 900px) {
    max-width: 100%;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-slider {
  width: 100%;
  height: 570px;
  margin-bottom: 40px;
}

.slider-block {
  position: relative;
  height: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: 0.3s ease-in;
}

.slider-block::after {
  position: absolute;
  bottom: 31px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: block;
  content: '';
  background: url('../images/product-cart-sec/size.svg') no-repeat center/cover;
  z-index: 100;
  cursor: pointer;
  pointer-events: none;
}

.slider-block:hover {
  border-color: #d9d9d9;
}

.card-slider .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-slider .swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 0;
  max-width: 544px;
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media (max-width: 900px) {
    max-width: 100%;
  }

  @media (max-width: 478px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-info__name {
  width: 100%;
}

.card-info__name-title {
  padding: 0;
  margin: 0;
  color: var(--dark-gray);
  font-size: clamp(1.25rem, 1.206rem + 0.1878vw, 1.375rem);
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}

.card-info__btn {
  max-width: 130px;
  width: 100%;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  top: 23px;
  left: 23px;
  display: flex;
  padding: 0 42px;
  background-color: var(--dark-gray);
  color: var(--title-color-ligth);
  line-height: 40px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  margin-left: auto;
  cursor: unset;
}

.swiper-button-prev.product-card__btn_prev {
  left: 2px;
}

.swiper-button-next.product-card__btn_next {
  right: 2px;
}

.swiper-button-prev.product-card__btn_prev,
.swiper-button-next.product-card__btn_next {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  z-index: 50;
  transition: 0.3s ease-in;
}

.swiper-button-prev.product-card__btn_prev:hover,
.swiper-button-next.product-card__btn_next:hover {
  background-color: var(--color-orange);
}

.swiper-button-next.product-card__btn_next:after {
  position: absolute;
  width: 20px;
  height: 16px;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/product-cart-sec/arr_next.svg') no-repeat center/cover;
}

.swiper-button-prev.product-card__btn_prev:after {
  position: absolute;
  width: 20px;
  height: 16px;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) translateY(50%);
  background: url('../images/product-cart-sec/arr_next.svg') no-repeat center/cover;
}

.swiper-button-next.product-card__btn_next.swiper-button-disabled,
.swiper-button-prev.product-card__btn_prev.swiper-button-disabled {
  display: none;
}

/*tabs*/
.product-cart-description {
  width: 100%;
  padding: 60px 0 60px;
}

.product-cart-description__container {
  max-width: 1180px;
}

.tabs-over__container {
  @media (max-width: 660px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.product-cart-description-tabs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 478px) {
    max-width: 500px;
    overflow-x: auto; /* Включает горизонтальную прокрутку */
    scrollbar-width: none; /* Для Firefox */
  }
}

.product-cart-description-tabs::-webkit-scrollbar {
  @media (max-width: 478px) {
    display: none; /* Скрыть скроллбар в WebKit-браузерах */
  }
}

.product-cart-description-tabs__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 660px) {
    width: 660px;
  }
}

.product-cart-description-tabs__item {
  width: calc(100% / 3);

  @media (max-width: 500px) {
    width: 200px;
  }
}

.product-cart-description__text {
  height: 100px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  line-height: 1;
  text-align: center;
  color: rgba(142, 142, 142, 1);
  transition: 0.3s ease-in;
  border-bottom: 2px solid rgba(195, 195, 195, 1);
  border-right: 0;
  border-left: 0;

  @media (max-width: 899px) {
    padding: 0;
  }
}

.watched-before__product-cart {
  padding: 85px 0 67px;

  @media (max-width: 1024px) {
    padding: 66px 0 67px;
  }
}

.watched-before__product-cart .watched-before__container {
  margin-bottom: 39px;

  @media (max-width: 1024px) {
    margin-bottom: 5px;
  }
}

.watched-before__product-cart .watched-before__header-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: var(--dark-gray);

  @media (max-width: 1280px) {
    font-size: clamp(1.5rem, 1.2928rem + 0.884vw, 2rem);
  }
}

.watched-before__product-cart .products-slide {
  transition: all 0.3s ease-in;
}

.watched-before__product-cart .products-slide:hover {
  box-shadow: 0 0 22px 0 rgba(112, 112, 112, 0.15);
  background: #fff;
  border-color: var(--5);
}

.product-cart-description__video {
  height: 100px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  line-height: 1;
  text-align: center;
  color: rgba(142, 142, 142, 1);
  transition: 0.3s ease-in;
  border-bottom: 2px solid rgba(195, 195, 195, 1);
  border-left: 0;
  border-right: 0;

  @media (max-width: 899px) {
    padding: 0;
  }
}

.product-cart-description__video:hover,
.product-cart-description__text:hover {
  color: var(--color-orange);
}

.product-cart-description-tabs__btn_active {
  pointer-events: none;
  background: transparent;
  color: var(--color-orange);
  cursor: unset;
  border-bottom: 2px solid var(--color-orange);
}

.tabs__content {
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  width: 100%;

  @media (max-width: 660px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabs__content_active {
  display: block;
}

.tabs__content > .content {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tabs__content > .content_one {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.video-content {
  position: relative;
  max-width: 540px;
  width: 100%;
  height: 360px;
  border-radius: 15px;
  overflow: hidden;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 478px) {
    height: 220px;
  }
}

.video-content:nth-child(-n + 2) {
  @media (max-width: 768px) {
    display: block;
  }
}

.video-content__show-more-btn-box {
  display: none;
  padding-top: 40px;
  width: 100%;

  @media (max-width: 768px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.btn-show-more {
  @media (max-width: 768px) {
    display: inline-flex;
    line-height: 45px;
    height: 45px;
    border: 1px solid var(--dark-gray);
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--dark-gray);
    max-width: 315px;
    width: 100%;
    justify-content: center;
  }
}

.video-content_one {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* info */

.info-content-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 68px;

  @media (max-width: 660px) {
    column-gap: 0;
    flex-direction: column;
    row-gap: 50px;
  }
}

.info-content-box__left,
.info-content-box__right {
  width: calc((100% - 68px) / 2);
  display: flex;
  flex-direction: column;

  @media (max-width: 660px) {
    width: 100%;
  }
}

.info-content-box__left-pg,
.info-content-box__right-pg {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.info-content-box__left-pg:last-child,
.info-content-box__right-pg:last-child {
  margin-bottom: 0;
}

/*.accordion*/
.accordion {
  margin-bottom: 25px;
}

.accordion__title {
  border-bottom: 1px solid var(--color-orange);
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;

  @media (max-width: 660px) {
    padding: 13px 10px;
  }
}

.accordion__title-span-icon {
  width: 22px;
  height: 12px;
}

.accordion__title-span-icon::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 12px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/product-cart-sec/arr_orang_down.svg') no-repeat center/cover;
}

.accordion__title-h3 {
  font-family: 'Golos Text Medium', sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.037rem + 0.3756vw, 1.375rem);
  line-height: 1.2;
  color: var(--dark-gray);
}

.accordion__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out 0.5s,
  visibility 0.1s ease-out 0.5s;
}

.accordion__list_active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out,
  visibility 0.1s ease-out;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
  padding: 16px 20px;

  @media (max-width: 660px) {
    column-gap: 40px;
    padding: 16px 10px;
  }
}

.row1 {
  margin-top: 24px;
}

.row:hover {
  background: var(--5);
}

.left,
.right {
  font-weight: 300;
  font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem);
  line-height: 1.2;
  color: var(--dark-gray);
}

.right {
  @media (max-width: 660px) {
    display: flex;
    max-width: 60px;
    /*flex-wrap: wrap;*/
    justify-content: flex-end;
  }
}

.video-container {
  position: relative;
}

.video-container__desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
}

.video-container__desc-text {
  max-width: 352px;
  width: 100%;
  font-weight: 300;
  font-size: clamp(0.875rem, 0.6329rem + 1.0329vw, 1.5625rem);
  line-height: 1.2;
  color: var(--title-color-ligth);
}

.video-container__desc-play {
  max-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.video-container__desc-play-time {
  font-weight: 300;
  font-size: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
  line-height: 1.1;
  color: var(--title-color-ligth);
}

.video-control {
  width: 96px;
  height: 96px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;

  @media (max-width: 478px) {
    width: 37px;
    height: 37px;
  }
}

.video-control span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-control span svg path {
  fill: var(--dark-gray);
}

.video-control:hover span svg path {
  fill: var(--main-bg);
}

.video-control__hidden {
  display: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiperProd2,
.mySwiperProd {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mySwiperProd2 {
  height: 478px;
  width: 100%;

  @media (max-width: 478px) {
    height: 215px;
    margin-bottom: 30px;
  }
}

.mySwiperProd2 .product-card__swiper-wrapper2 {
  margin-bottom: 0;
}

.mySwiperProd2 .swiper-slide {
  border-radius: 12.6px;
  overflow: hidden;
}

.mySwiperProd2 .swiper-slide a {
  width: 100%;
  height: 100%;
  display: block;
}

.mySwiperProd {
  height: 83px;
  box-sizing: border-box;
  padding: 30px 0 0 0;

  @media (max-width: 478px) {
    padding-left: 20px;
    padding-right: 20px;
    height: 63px;
    padding-top: 0;
  }
}

.mySwiperProd .swiper-slide {
  height: 100%;
  opacity: 0.4;
}

.swiper-slide.product-card__swiper-slide {
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.mySwiperProd .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiperProd2 .swiper-slide a img,
.mySwiperProd .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next.mySwiperProd2-btn-next {
  width: 50px;
  height: 50px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  border-radius: 100%;
  transition: 0.3s ease-in;

  @media (max-width: 899px) {
    display: none;
  }
}

.swiper-button-prev.mySwiperProd2-btn-prev {
  width: 50px;
  height: 50px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  border-radius: 100%;
  transition: 0.3s ease-in;

  @media (max-width: 899px) {
    display: none;
  }
}

.swiper-button-prev.mySwiperProd2-btn-prev:hover,
.swiper-button-next.mySwiperProd2-btn-next:hover {
  background-color: #d8d8d8;
}

.swiper-button-next.mySwiperProd2-btn-next::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/product-cart-sec/arr_right-black.svg') no-repeat center/cover;
}

.swiper-button-prev.mySwiperProd2-btn-prev::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  background: url('../images/product-cart-sec/arr_right-black.svg') no-repeat center/cover;
}

.product-cart__header-link {
  justify-content: center;
  max-width: 250px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s ease-in;

  @media (max-width: 1024px) {
    display: none;
  }
}

.product-cart__header-link:hover {
  border: 1px solid var(--color-orange);
}

.watched-before__product-cart-link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  #watchedBeforeLink {
    display: none;

    @media (max-width: 1024px) {
      display: inline-flex;
      max-width: 335px;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 467px) {
      /*max-width: 315px;*/
      max-width: 270px;
    }
  }
}

.watched-before__product-cart .products-slide {
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
}

.watched-before__product-cart .products-slide .cart__wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    height: 181px;
  }
}

.watched-before__product-cart .products-slide .favorites-icon {
  display: none;
}

.watched-before__product-cart .products-slide .cart__image {
  border-radius: 0;
}

.watched-before__product-cart .products-slide .cart__image img {
  border-radius: 0;
}

.watched-before__product-cart .products-slide .cart__availability {
  text-align: center;
  position: absolute;
  height: 24px;
  left: 0;
  right: 0;
  background: var(--color-orange);
  font-family: 'TT Norms Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--title-color-ligth);
  display: flex;
  align-items: center;
  justify-content: center;
}

.watched-before__product-cart .products-slide .image-pagination {
  display: none;
}

.watched-before__product-cart .products-slide .cart__wrapper-text {
  padding: 24px 30px 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1024px) {
    padding: 20px 25px 15px 25px;
  }
}

.watched-before__product-cart .products-slide .cart__wrapper-text .cart__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  margin-bottom: 10px;

  @media (max-width: 1280px) {
    font-size: clamp(0.875rem, 0.7714rem + 0.442vw, 1.125rem);
    margin-bottom: 6px;
  }
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(142, 142, 142, 1);
  margin-bottom: 15px;

  @media (max-width: 1280px) {
    font-size: clamp(0.8125rem, 0.7348rem + 0.3315vw, 1rem);
    margin-bottom: 7px;
  }

  @media (max-width: 768px) {
    color: var(--dark-gray);
  }
}

.cart__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  color: rgba(142, 142, 142, 1);
  margin-bottom: 25px;

  @media (max-width: 1280px) {
    font-size: clamp(0.75rem, 0.6982rem + 0.221vw, 0.875rem);
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    color: var(--dark-gray);
  }
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.watched-before__product-cart .products-slide .cart__wrapper-text .cart__btn {
  border-radius: 100px;
  max-width: 300px;
  width: 100%;
  font-size: 15.44px;
  margin-left: 0;
  margin-right: 0;
  line-height: 45px;
  height: 45px;
  background-color: rgba(223, 223, 223, 1);
  color: var(--dark-gray);
  justify-content: center;
  transition: 0.3s ease-in;

  @media (max-width: 1280px) {
    font-size: clamp(0.75rem, 0.6609rem + 0.3801vw, 0.965rem);
  }

  @media (max-width: 1024px) {
    height: 34px;
    line-height: 34px;
  }
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__btn:hover {
  background-color: var(--color-orange);
  color: var(--title-color-ligth);
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__btn-details {
  position: relative;
  font-size: 15px;
  max-width: 250px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: var(--dark-gray);
  justify-content: center;
  transition: 0.3s ease-in;

  @media (max-width: 1280px) {
    font-size: clamp(0.75rem, 0.6723rem + 0.3315vw, 0.9375rem);
  }

  @media (max-width: 1024px) {
    height: 34px;
    line-height: 34px;
  }
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__btn-details:hover {
  color: var(--color-orange);
}

.watched-before__product-cart
.products-slide
.cart__wrapper-text
.cart__btn-details::after {
  content: none;
}

.watched-before-swiper.watched-before__catalog-swiper {
  padding-left: calc(((100% - 1280px) / 2) + 70px);

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.watched-before__product-cart
.watched-before__header
.swiper-button-prev.btn__slider_prev.products-swiper_prev {
  top: 280px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #d2d2d2;
  transition: 0.3s ease-in;
  left: 20px;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-prev.btn__slider_prev.products-swiper_prev:hover {
  background-color: #2b2a29;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-next.btn__slider_next.products-swiper_next {
  top: 280px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #d2d2d2;
  transition: 0.3s ease-in;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-next.btn__slider_next.products-swiper_next:hover {
  background-color: #2b2a29;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-next.btn__slider_next.products-swiper_next::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/product-cart-sec/arr_right-black.svg) no-repeat center / cover;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-prev.btn__slider_prev.products-swiper_prev::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg) !important;
  background: url(../images/product-cart-sec/arr_right-black.svg) no-repeat center / cover;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-next.btn__slider_next.products-swiper_next:hover::after {
  transform: translate(-50%, -50%);
  background: url(../images/slider-btn/arr-white-right.svg) no-repeat center /
    cover;
}

.watched-before__product-cart
.watched-before__header
.swiper-button-prev.btn__slider_prev.products-swiper_prev:hover::after {
  transform: translate(-50%, -50%) rotate(180deg) !important;
  background: url(../images/slider-btn/arr-white-right.svg) no-repeat center /
    cover;
}

.swiper-button-prev.btn__slider_prev.products-swiper_prev.watched-before__catalog-cart-btn_prev,
.swiper-button-next.btn__slider_next.products-swiper_next.watched-before__catalog-cart-btn_next {
  @media (max-width: 1024px) {
    display: none;
  }
}

.form-representation.form-representation-product-cart {
  padding: 81px 0 94px;

  @media (max-width: 1024px) {
    padding: 84px 0 94px;
  }

  @media (max-width: 600px) {
    padding: 64px 0 64px;
  }
}

.form-representation-product-cart .form-representation__container {
  max-width: 1152px;
}

.form-representation-product-cart .form-representation__container .form-left,
.form-representation-product-cart .form-representation__container .form-right {
  max-width: 535px;

  @media (max-width: 899px) {
    max-width: 100%;
  }
}

.form-representation-product-cart
.form-representation__container
.form-representation__form-btn {
  line-height: 50;
  height: 50px;
  font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
}

.form-representation-product-cart
.form-representation__container
.form-right
> textarea {
  height: 166px;
  font-size: 18px;
  color: var(--main-bg);
}

.form-representation-product-cart
.form-representation__container
.form-right
> textarea::placeholder,
.form-representation-product-cart
.form-representation__container
.form-right
> input::placeholder,
.form-representation-product-cart
.form-representation__container
.form-left
> input::placeholder,
.form-representation-product-cart
.form-representation__container
.user-name::placeholder,
.form-representation-product-cart
.form-representation__container
.column1
.select,
.form-representation-product-cart
.form-representation__container
.column2
.select {
  font-size: 18px;
  height: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #323130;
}

.form-representation-product-cart
.form-representation__container
.column1__wrap::after,
.form-representation-product-cart
.form-representation__container
.column2__wrap::after {
  top: 46%;

  @media (max-width: 600px) {
    top: 50px;
  }
}

.form-representation-product-cart
.form-representation__container
.form-right
> label:not(:first-of-type) {
  line-height: 18px;
  font-size: 16px;
}

.form-representation-product-cart .form-representation__container input {
  height: 50px;
}

.form-representation-product-cart
.form-representation__container
.form-row2
.column1
input::placeholder,
.form-representation-product-cart
.form-representation__container
.form-row2
.column1
input,
.form-representation-product-cart
.form-representation__container
.form-row2
.column2
input::placeholder,
.form-representation-product-cart
.form-representation__container
.form-row2
.column2
input,
.form-representation-product-cart .form-representation__container .user-name,
.form-representation-product-cart
.form-representation__container
.form-left
input:last-of-type {
  font-size: 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #323130;

  @media (max-width: 899px) {
    max-width: 100%;
  }
}

.form-representation-product-cart
.form-representation__container
.form-representation__title {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.21212;
  margin-bottom: 20px;

  @media (max-width: 1280px) {
    font-size: clamp(1.5rem, 1.2669rem + 0.9945vw, 2.0625rem);
    margin-bottom: 14px;
  }
}

.form-representation__subtitle {
  /* font-size: 46px; */
  font-size: 18px;
  line-height: 22px;
  color: var(--main-bg);
  margin-bottom: 43px;
  font-weight: 400;
  font-family: 'TT Norms Pro Regular', sans-serif;

  @media (max-width: 1280px) {
    font-size: clamp(1rem, 0.9482rem + 0.221vw, 1.125rem);
    line-height: 1.1;
  }
  @media (max-width: 1024px) {
    margin-bottom: 35px;
  }

  .form-br {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

/* ///////*/
.form-representation-light
.form-representation__container
.form-right
> textarea::placeholder,
.form-representation-light
.form-representation__container
.form-right
> textarea,
.form-representation-light
.form-representation__container
.form-right
> input::placeholder,
.form-representation-light
.form-representation__container
.form-left
> input::placeholder,
.form-representation-light
.form-representation__container
.user-name::placeholder,
.form-representation-light .form-representation__container .column1 .select,
.form-representation-light .form-representation__container .column2 .select,
.form-representation-light
.form-representation__container
.form-representation__form
.form-right
.form-row2
textarea {
  background: rgba(217, 217, 217, 1);
  box-shadow: none !important;
}

.form-representation-light .form-representation__container .form-left input,
.form-representation-light
.form-representation__container
.form-left
.form-row2
.column1
input,
.form-representation-light
.form-representation__container
.form-left
.form-row2
.column2
input,
.form-representation-light
.form-representation__container
.form-left
#campany2 {
  background: rgba(217, 217, 217, 1);
  color: var(--dark-gray);
  border: 1px solid rgba(174, 174, 174, 1);
}

.form-representation-light
.form-representation__container
.form-right
> textarea {
  outline: none !important;
  background: rgba(217, 217, 217, 1) !important;
  box-shadow: none !important;
  color: var(--dark-gray);
  border: 1px solid rgba(174, 174, 174, 1);
}

.form-representation-light
.form-representation__container
.form-representation__form
.form-left
.form-row2
.column1
input::placeholder,
.form-representation-light
.form-representation__container
.form-representation__form
.form-left
.form-row2
.column2
input::placeholder {
  background: rgba(217, 217, 217, 1) !important;
  box-shadow: none !important;
}

.form-representation-light
.form-representation__container
.form-representation__form
.form-left
.form-row2
.column1
input,
.form-representation-light
.form-representation__container
.form-representation__form
.form-left
.form-row2
.column2
input {
  color: var(--dark-gray);
}

.form-representation-light .form-representation__container .column1 .select,
.form-representation-light .form-representation__container .column2 .select {
  border: 1px solid rgba(174, 174, 174, 1);
}

.form-representation-light .form-representation__container .policy {
  color: var(--dark-gray);
  font-size: 16px;
}

.form-representation-light
.form-representation__container
.column1
.select:focus,
.form-representation-light
.form-representation__container
.column2
.select:focus {
  border: 1px solid rgba(174, 174, 174, 1);
}

.form-representation-light
.container.form-representation__container
.form-representation__form
.form-left
.form-row3
.column1.column1__wrap
.select:focus {
  border: 1px solid rgba(174, 174, 174, 1);
  outline: none;
}

.form-representation-light
.form-representation__container
.form-representation__title {
  margin-bottom: 40px;
}
