.production-stages-service-page {
  width: 100%;

  .production-stages-cards {
    flex-wrap: wrap;
    row-gap: 50px;

    .top-left-img h2 {
      margin-top: 0;
    }

    .production-stages-card {
      min-height: 370px;

      .production-stages-card__title {
        max-width: 100%;
        font-family: 'Golos Text Bold', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 2;
        color: var(--dark-gray);
      }

      .production-stages-card__subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        color: var(--dark-gray);
        opacity: 0.6;
      }
    }
  }

  .production-stages-card:hover {
    border: 1px solid var(--color-orange);

    .production-stages-card__title {
      color: var(--color-orange);
    }
  }

  .production-stages-card-active {
    border: 1px solid var(--color-orange);

    .production-stages-card__title-active {
      color: var(--color-orange);
    }
  }
}

.service-page__title {
  font-size: 32px;
}

.service-page__banner {
  margin-bottom: 0;

  .stock-banner__container {
    margin-bottom: 0;
  }
}

.service-page__advantages-page-hero {
  padding: 90px 0 66px;

  .advantages-page-hero__header {
    margin-bottom: 30px;
  }
}

.service-page__questions-answers {
  padding: 91px 0 115px;

  .questions-answers__header {
    margin-bottom: 40px;
  }
}

.form-representation.form-representation-product-cart.service-page__form {
  .form-representation__title {
    margin-bottom: 10px;
  }

  .form-representation__subtitle {
    margin-bottom: 35px;
  }
}