.about {
  width: 100%;
  padding: 42px 0 42px;
}

.about__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about__header-wrapper-text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin-right: 20px;
}

.about__header-title {
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.22727;
  color: var(--dark-gray);
  display: inline-block;
  margin-bottom: 11px;
}

.about__header-title > span {
  font-family: 'TT Norms Pro Light', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  /* color: var(--color-orange); */
  color: var(--dark-gray);
  margin-bottom: 28px;
}

.about__header-subtitle {
  width: 100%;
  font-size: 25px;
  line-height: 1.2;
  color: var(--ligth-gray);
}

.about__header-link {
  padding-top: 6px;
  position: relative;
  max-width: 255px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--dark-gray);
  padding-right: 77px;
  transition: 0.3s ease-in;
}

.about__header-link:hover {
  color: var(--color-orange);
}

.about__header-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  top: 62%;
  right: 37px;
  transform: translateY(-50%);
  background: url('../images/catalog/arr_right_orange.svg') no-repeat
    center/cover;
}

.about__body {
  width: 100%;
}

.about__body-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 430px);
  gap: 24px;
}

.about__body-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about__body-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about__body-list > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.about__body-list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.about__boby-item {
  position: relative;
  border-radius: 15px;
  transition: all 0.3s ease-in;
  overflow: hidden;
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
}

.about__boby-item:hover {
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  transition: all 0.3s ease-in;
}

.about__boby-item:nth-child(1),
.about__boby-item:nth-child(4) {
  background-color: var(--color-orange);
}

.about__boby-item:nth-child(1):hover,
.about__boby-item:nth-child(4):hover {
  background-color: rgba(235, 99, 32, 0.6);
}

.about__boby-item:nth-child(2) {
  background-color: var(--dark-gray);
}

.about__boby-item:nth-child(2):hover {
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  background: rgba(43, 42, 41, 0.85);
}

.about__boby-item:nth-child(3) {
  background-color: var(--5);
}

.about__boby-item:nth-child(3):hover {
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  background: rgba(239, 239, 239, 0.85);
}

.about__boby-item img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.about__boby-link {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  transform: translateY(-50%);
  z-index: 50;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about__boby-link-title {
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-size: 40px;
  line-height: 1;
  color: var(--title-color-ligth);
  margin-bottom: 30px;
}

.about__boby-link-title_dark {
  color: var(--dark-gray);
}

.about__boby-link-text {
  font-size: 25px;
  line-height: 1.2;
  color: var(--title-color-ligth);
}

.about__boby-link-text_dark {
  color: var(--dark-gray);
}
