.about-us-page-hero {
    width: 100%;
    height: 500px;
    background: url('../images/about-program/aubg.webp') center center/cover no-repeat;

    @media (max-width: 468px) {
        height: 205px;
    }
}

.about-us-page-desc {
    width: 100%;
    padding: 93px 0 97px;

    @media (max-width: 468px) {
        padding: 70px 0 90px;
    }

    .bout-us-page-desc-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            row-gap: 55px;
        }

        .about-us-page-desc-content-logo {
            max-width: 367px;
            width: 100%;
            height: 110px;

            @media (max-width: 468px) {
                max-width: 280px;
                height: 84px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .about-us-page-desc-content-text {
            max-width: 894px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .about-us-page-desc-content-text__subtitle {
                width: 100%;
                font-weight: 400;
                font-size: 20px;
                line-height: 1.1;
                color: var(--color-orange);
                margin-bottom: 5px;
            }

            .about-us-page-desc-content-text__title {
                width: 100%;
                font-family: 'GetVoIP Grotesque Regular', sans-serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.25;
                color: var(--dark-gray);
                margin-bottom: 25px;

                @media (max-width: 1280px) {
                    font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
                }
            }

            .about-us-page-desc-content-text__content {
                width: 100%;
                padding: 0;
                margin: 0;
                margin-bottom: 32px;

                p {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 1.1;
                    color: var(--dark-gray);
                    opacity: 0.8;

                    @media (max-width: 1280px) {
                        font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
                    }
                }
            }

            .about-us-page-desc-content-text__content:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.about-us-page-running-line {
    padding: 100px 0 53px;

    .running-line__title {
        margin-bottom: 13px;
        font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
    }

    .running-line__subtitle {
        p {
            @media (max-width: 1280px) {
                font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
            }
        }
    }

    .running-line-content .running-line-content__wrapper .running-line-content__img-box {
        @media (max-width: 768px) {
            padding: 0px 14px;
            width: 100%;
            /*column-gap: 20px;*/
        }

        .wrap {
            padding: 15px 30px;

            img {
                max-width: 100px;
                height: auto;
            }
        }

    }
}

.production-stages {
    width: 100%;
    padding: 93px 0 90px;
    box-shadow: 0 10px 13px -3px rgba(194, 194, 194, 1) inset;
    background-color: #efefef;

    .production-stages-cards {
        width: 100%;
        display: flex;
        gap: 25px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }

        .production-stages-card {
            width: calc((100% - 50px) / 3);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 1px solid #efefef;
            border-radius: 30px;
            background-color: var(--main-bg);
            padding: 92px 40px 40px;
            row-gap: 27px;
            transition: 0.3s ease-in;
            position: relative;
            min-height: 370px;

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                max-width: 500px;
                width: 100%;
                border: 1px solid var(--color-orange);
                min-height: auto;
                height: 280px;
                padding: 60px 30px;
            }

            .production-stages-card__title {
                font-family: 'Golos Text SemiBold', sans-serif;
                max-width: 300px;
                font-weight: 600;
                font-size: 24px;
                line-height: 1.06667;
                color: var(--dark-gray);
                transition: 0.3s ease-in;
                margin-bottom: 0;

                @media (max-width: 1280px) {
                    font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
                }

                @media (max-width: 1024px) {
                    color: var(--color-orange);
                }

            }

            .production-stages-card__subtitle {
                font-weight: 400;
                font-size: 18px;
                line-height: 1.1;
                color: var(--dark-gray);
                opacity: 0.8;

                @media (max-width: 1280px) {
                    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
                }

                @media (max-width: 1024px) {
                    opacity: 1;
                }
            }
        }

        .production-stages-card:hover {
            border: 1px solid var(--color-orange);

            .production-stages-card__title {
                color: var(--color-orange);
            }
        }

        .top-right-img {
            background: url('../images/about-program/card01.png') top right/135px no-repeat #ffffff;
        }

        .bottom-center-img {
            background: url('../images/about-program/card02.png') bottom center/280px no-repeat #ffffff;
        }

        .top-left-img {
            background: url('../images/about-program/card03.png') top left/280px no-repeat #ffffff;
        }

        /*.top-left-img h2 {*/
        /*    margin-top: 32px;*/
        /*}*/

        /* .production-stages-card-active {
                border-color: var(--color-orange);

                .production-stages-card__title-active {
                    color: var(--color-orange);
                }
            } */
    }
}

.about-us-page__header-title {
    padding-right: 50px;
}

.about-us-page__header-link {
    max-width: 310px;
}

.specialists {
    width: 100%;
    padding: 90px 0 90px;

    .mySwiperSpecialists {
        height: 450px;
        padding-left: calc(((100% - 1280px) / 2) + 70px);
        padding-right: 10px;

        @media (max-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .swiper-wrapper {
            .swiper-slide {
                width: 360px;
                height: 450px;
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                transition: 0.3s ease-in;

                @media (max-width: 468px) {
                    height: 412px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }

                .specialists-text-slider {
                    position: absolute;
                    bottom: 30px;
                    left: 23px;
                    max-width: 300px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    z-index: 5;
                    transition: 0.3s ease-in;

                    .specialists-text-slider__name {
                        padding: 0;
                        margin: 0;
                        margin-bottom: 15px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 1.25;
                        color: #fff;
                        transition: 0.3s ease-in;

                        @media (max-width: 1280px) {
                            font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
                        }

                        @media (max-width: 1024px) {
                            color: var(--color-orange);
                        }
                    }

                    .specialists-text-slider__post {
                        padding: 0;
                        margin: 0;
                        /*margin-bottom: 0;*/
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 1.22222;
                        color: var(--title-color-ligth);

                        @media (max-width: 1280px) {
                            font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
                        }
                    }

                    .specialists-text-slider__duties {
                        padding: 0;
                        margin: 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.25;
                        color: var(--title-color-ligth);
                        padding-top: 0;
                        max-height: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.3s ease-in;

                        @media (max-width: 1280px) {
                            font-size: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);
                        }

                        @media (max-width: 1024px) {
                            padding-top: 30px;
                            display: block;
                            max-height: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .swiper-slide:hover {
                .specialists-text-slider {
                    .specialists-text-slider__name {
                        color: var(--color-orange);
                    }

                    .specialists-text-slider__duties {
                        padding-top: 30px;
                        display: block;
                        max-height: 100%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .swiper-slide:hover::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0.3) 0%,
                        rgba(0, 0, 0, 0.7) 84.16%
                );
            }
        }
    }

    .specialists-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 60px;
        }

        .specialists-header-text {
            max-width: 850px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .specialists-header-text__title {
                font-family: 'GetVoIP Grotesque Regular', sans-serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 1.25;
                color: var(--dark-gray);
                margin-bottom: 17px;

                @media (max-width: 1280px) {
                    font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
                }
            }

            .specialists-header-text__subtitle {
                padding: 0;
                margin: 0;

                p {
                    padding: 0;
                    margin: 0;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 1.1;
                    color: var(--dark-gray);

                    @media (max-width: 1280px) {
                        font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
                    }
                }
            }
        }

        .specialists-header-link {
            width: 367px;
            height: 110px;
            flex-shrink: 0;

            @media (max-width: 468px) {
                max-width: 296px;
                height: 90px;
            }
        }
    }
}

.questions-answers {
    width: 100%;
    padding: 79px 0 90px;


}

.questions-answers__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
        margin-bottom: 60px;
    }
}

.questions-answers__title {
    max-width: 720px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0;
    line-height: 1.02;
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 32px;

    @media (max-width: 1024px) {
        font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
    }
}

.questions-answers__btn {
    position: relative;
    max-width: 340px;
    padding-right: 64px;
    padding-left: 0;
    font-family: 'TT Norms Pro Bold', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--dark-gray);
    white-space: wrap;
    text-align: left;
    transition: 0.3s ease-in;

    @media (max-width: 1024px) {
        color: var(--color-orange);
    }
}

.questions-answers__btn:hover {
    color: var(--color-orange);
}

.questions-answers__btn::after {
    position: absolute;
    content: '';
    display: block;
    width: 21px;
    height: 16px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: url('../images/catalog/arr_right_orange.svg') no-repeat center/cover;
}

.questions-answers-tabs {
    width: 100%;
    display: flex;
    column-gap: 24px;

    @media (max-width: 1024px) {
        flex-direction: column;
        row-gap: 30px;
    }
}

.questions-answers-tabs__list {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    width: calc((100% - 24px) / 2);

    @media (max-width: 1024px) {
        width: 100%;
    }
}

.questions-answers-tabs__item {
    width: 100%;
    min-height: 110px;
    display: flex;
    position: relative;
    padding: 40px 20px;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease-in;
    cursor: pointer;
    flex-direction: column;
    border: 1.5px solid var(--5);
    border-radius: 15px;
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: #fff;
    overflow: hidden;
    /*margin-bottom: auto;*/
    font-size: 22px;
}

.questions-answers-tabs__item:hover {
    border: 1.5px solid var(--color-orange);
}

.item__title {
    font-family: 'Golos Text Medium', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.22727;
    color: var(--dark-gray);

    @media (max-width: 1280px) {
        font-size: clamp(1.25rem, 1.206rem + 0.1878vw, 1.375rem);
        padding-right: 50px;
    }
}

.item__desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.1;
    color: var(--ligth-gray);
    padding-top: 20px;
    opacity: 0;
    margin-top: -100%;
    transition: 0.1s ease-in opacity;
}

.questions-answers-tabs__item_click {
    border-color: var(--color-orange);
    padding: 30px 20px;
    transition: 0.3s ease-in;
}

.item__desc_click {
    opacity: 1;
    margin-top: 0;
    transition: 0.5s ease-in opacity;
}

.questions-answers-tabs__item::after {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    right: 20px;
    display: block;
    background: url('../images/cooperation/plus.svg') no-repeat center/cover;
    transition: 0.2s linear;
}

.questions-answers-tabs__item:hover::after {
    background: url('../images/cooperation/plus_orange.svg') no-repeat center/cover;
}

.questions-answers-tabs__item_click:hover::after,
.questions-answers-tabs__item_click::after {
    background: url('../images/cooperation/plus-deg.svg') no-repeat center/cover;
}

.about-us-page-video {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding-bottom: 58px;
}

.video.about-us-page-video .content.content_one .video-content.video-container.about-us-page-video-item.video-content_one {
    @media (max-width: 700px) {
        height: 400px;
    }

    @media (max-width: 520px) {
        height: 220px;
    }
}

.about-us-page__about-company {
    padding: 176px 0 69px;
}

.specialists-body {
    .container.swiper-btn-box-big__container {
        top: 233px;
    }
}

.about-us-page__our-projects {
    padding: 133px 0 84px;

    @media (max-width: 1024px) {
        padding: 45px 0 45px;
    }
}

.form-representation.form-representation-product-cart.about-us-page__form {
    .form-representation__title {
        margin-bottom: 10px;
    }

    .form-representation__subtitle {
        margin-bottom: 34px;
    }
}