.categories.catalog-categories.catalog-menu-categories {
    padding: 10rem 0;
}

.catalog-menu__header-title {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.01562;
    /* color: var(--color-orange); */
    color: var(--dark-gray);
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
}

.catalog-menu-categories__body {
    width: 100%;
}
.catalog-menu-categories__body-list {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 50px) / 3));
    grid-template-rows: 430px 200px 430px;
    gap: 40px 25px;

}
.catalog-menu-categories__body-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.catalog-menu-categories__body-item_banner {
    width: 100%;
    grid-column: span 3;
}
.catalog-menu-categories__body-item_banner .catalog-page-product-baner__container {
    width: 100%;
    padding: 0;
    padding: 45.5px 90px;
}
.catalog-menu-categories__body-item_banner .catalog-page-product-baner__text {
    text-align: left;
}
.catalog-menu-categories__body-item_banner .catalog-page-product-baner__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.22727;
    color: #fff;
}