.categories.catalog-categories.catalog-menu-categories {
    padding: 60px 0 100px;
}

.breadcrumbs__links span {
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: var(--dark-gray);
}

.catalog-menu__header {
    margin-bottom: 60px;

    @media (max-width: 636px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}

.catalog-categories__container {
    max-width: 1362px;
}

.catalog-menu__header-title {
    margin-bottom: 0;
    font-size: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
    line-height: 1.01562;
    /* color: var(--color-orange); */
    color: var(--dark-gray);
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
}

.catalog-menu-categories__body {
    width: 100%;
    position: relative;

    @media (max-width: 636px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.catalog-menu-categories__body-list {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 75px) / 4));
    grid-template-rows: 370px 237px 370px;
    gap: 120px 25px;

    @media (max-width: 1110px) {
        grid-template-columns: repeat(2, calc((100% - 25px) / 2));
        grid-template-rows: 370px 370px 237px 370px 370px;
        gap: 60px 25px;
    }

    @media (max-width: 636px) {
        /*position: relative;*/
        /*justify-content: center;*/
        /*grid-template-columns: minmax(316px, 500px);*/
        /*grid-template-rows: 370px;*/
        /*gap: 25px 0;*/
        /*margin-bottom: 40px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        row-gap: 25px;
        margin-bottom: 40px;
    }
}

.catalog-menu-categories__body-list .other__body-cart-item {
    color: var(--dark-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57143;
}

.catalog-menu-categories__body-list
.catalog-menu-categories__body-item:hover
.other__body-cart-item {
    color: #d6d6d6;
}

.catalog-menu-categories__body-list > .catalog-menu-categories__body-item {
    position: relative;
    background: linear-gradient(
            rgba(239, 239, 239, 0.97) 0%,
            rgba(239, 239, 239, 0.97) 100%
    ),
    url('../images/hero/bg-slider.webp') no-repeat top center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    border: none;
    transition: 0.1s ease-in;
}

.catalog-menu-categories__body-list
> .catalog-menu-categories__body-item::after {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background-image: linear-gradient(
            360deg,
            rgba(43, 42, 41, 0.9) 46.04%,
            rgba(235, 99, 32, 0.9) 100%
    ),
    url(../images/hero/bg-slider.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: 1s;
    border-radius: 30px;
}

.catalog-menu-categories__body-item > .other__body-cart-list,
.catalog-menu-categories__body-item > .other__body-cart-btn {
    position: relative;
    z-index: 10;
}

.catalog-menu-categories__body-item > .other__body-cart-btn {
    background-color: var(--color-orange);
    transition: 0.3s ease-in;
    height: 45px;
    line-height: 45px;
}

.catalog-menu-categories__body-item > .other__body-cart-btn:hover {
    background-color: var(--ligth-gray);
}

.catalog-menu-categories__body-list
.catalog-menu-categories__body-item:hover::after {
    opacity: 1;
}

.catalog-menu-categories__body-list
.catalog-menu-categories__body-item
.other__body-cart-title.swiper-filter-on__body-cart-title {
    color: var(--dark-gray);
    transition: all 0.3s ease-in;
    position: relative;
    z-index: 10;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44444;
}

.catalog-menu-categories__body-list
.catalog-menu-categories__body-item:hover
.other__body-cart-title.swiper-filter-on__body-cart-title {
    color: var(--title-color-ligth);
}

.catalog-menu-categories__body-list .catalog-menu-categories__body-item-hover {
    transition: all 0.3s ease-in;
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: linear-gradient(
            360deg,
            rgba(43, 42, 41, 0.9) 46.04%,
            rgba(235, 99, 32, 0.9) 100%
    ),
    url(../images/hero/bg-slider.webp) no-repeat center;
}

.catalog-menu-categories__body-item-hover
> .other__body-cart-title.swiper-filter-on__body-cart-title,
.catalog-menu-categories__body-item-hover
> .other__body-cart-list
.other__body-cart-item {
    color: var(--title-color-ligth) !important;
    transition: all 0.3s ease-in;
}

.catalog-menu-categories__body-item_banner {
    width: 100%;
    grid-column: span 4;
    list-style-type: none;

    @media (max-width: 1110px) {
        grid-column: span 2;
    }

    @media (max-width: 636px) {
        /*position: absolute;*/
        /*bottom: 0;*/

    }
}

.catalog-menu-categories__body-item_banner
.catalog-page-product-baner__container {
    width: 100%;
    padding: 0;
    height: 100%;
    padding: 45.5px 90px;
    background: url('../images/catalog/catalog-menu-banner.webp') no-repeat center center/cover;
    border-radius: 40px;

    @media (max-width: 1110px) {
        padding: 30px;
    }
}

.catalog-menu-categories__body-item_banner .catalog-page-product-baner__text {
    text-align: left;
    margin-right: 15px;
}

.catalog-menu-categories__body-item_banner
.catalog-page-product-baner__subtitle {
    max-width: 400px;
    width: 100%;
    font-weight: 400;
    /*font-size: 22px;*/
    line-height: 1.22727;
    color: #fff;
}

.catalog-menu-categories__body-list .catalog-menu-categories__body-item:nth-of-type(n + 5) {
    @media (max-width: 636px) {
        display: none;
    }
}

.catalog-menu-categories__body-list-showmore-btn {
    display: none;
    margin: 0 auto;

    @media (max-width: 636px) {
        display: flex;
        max-width: 335px;
        width: 100%;
        border: 1px solid var(--dark-gray);
        border-radius: 100px;
        height: 45px;
        line-height: 45px;
        font-weight: 400;
        font-size: 18px;
        justify-content: center;
        color: var(--dark-gray);
        margin-bottom: 40px;
    }
}

.other__header-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 343px;
    width: 100%;
    background: transparent;
    border: 1px solid #ddd;
    height: 50px;
    line-height: 22px;
    color: var(--dark-gray);
    border-radius: 57px;
    font-family: 'TT Norms Pro Medium', sans-serif;
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    transition: background 0.3s ease-in;
}

.other__header-btn svg {
    width: 23px;
    height: 14px;
    transition: 0.3s ease-in;
    margin-left: 10px;
}

.other__header-btn svg path {
    color: #8e8e8e;
}

.other__header-btn:hover svg path {
    color: var(--color-orange);
}

.other__header-btn:hover {
    color: var(--color-orange);
}

.banner__mobile-box .catalog-page-product-baner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    height: 100%;
    padding: 30px;
    background: url(../images/catalog/catalog-menu-banner.webp) no-repeat center center / cover;
    border-radius: 40px;

    @media (max-width: 476px) {
        flex-direction: column;
        row-gap: 30px;
        padding: 60px 30px;
    }
}