.categories {
  width: 100%;
  padding: 94px 0 60px;
  background-color: var(--main-bg);
}

.categories__container {
  display: flex;
  flex-direction: column;
}

.categories__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.categories__title {
  max-width: 720px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 0;
  line-height: 1.02;
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
}

.categories__btn {
  position: relative;
  max-width: 310px;
  padding-right: 64px;
  padding-left: 0;
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  color: var(--dark-gray);
  white-space: wrap;
  text-align: left;
  transition: 0.3s ease-in;
}

.categories__btn:hover {
  color: var(--color-orange);
}

.categories__btn::after {
  position: absolute;
  content: '';
  display: block;
  width: 21px;
  height: 16px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  background: url('../images/catalog/arr_right_orange.svg') no-repeat
    center/cover;
}

.categories__body {
  width: 100%;
  text-align: center;
}

.categories__body-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 434px;
  gap: 52px 24px;
  margin-bottom: 59px;
}

.categories__body-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border: 1.5px solid var(--5);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
  background: var(--title-color-ligth);
  text-align: left;
  transition: all 0.3s ease-in;
}

.categories__body-item:nth-child(n + 7) {
  display: none;
}

.categories__body-item.is-visible {
  display: flex;
}

.categories__body-cart-title {
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-size: 24px;
  line-height: 1.25;
  color: var(--dark-gray);
  transition: all 0.3s ease-in;
  margin-bottom: 17px;
}

.categories__body-item:hover {
  transition: all 0.3s ease-in;
  box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
  background: linear-gradient(
      360deg,
      rgba(43, 42, 41, 0.9) 46.04%,
      rgba(235, 99, 32, 0.9) 100%
    ),
    url('../images/hero/bg_slider.jpg') no-repeat center;
}

.categories__body-item:hover > .categories__body-cart-title {
  color: var(--title-color-ligth);
  transition: all 0.3s ease-in;
}

.categories__body-cart-list {
  list-style-type: initial;
  color: var(--color-opasity);
  padding-left: 30px;
  margin-bottom: 30px;
}

.categories__body-cart-item {
  font-size: 20px;
  line-height: 1.1;
  color: var(--ligth-gray);
  transition: all 0.3s ease-in;
}

.categories__body-item:hover .categories__body-cart-item {
  color: var(--title-color-ligth);
}

.categories__body-cart-btn {
  width: 100%;
  background-color: var(--ligth-gray);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-color: transparent;
  transition: 0.3s ease-in;
  font-size: 20px;
}

.categories__body-cart-btn:hover {
  background-color: var(--color-orange);
}

.categories__body-showmore-btn {
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  font-size: 20px;
  border-radius: 63px;
  max-width: 350px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background: var(--dark-gray);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}

.categories__body-showmore-btn:hover {
  background-color: var(--color-orange);
  color: var(--title-color-ligth);
}
