.cooperation-banner {
    margin-bottom: 64px;
}

.conditions {
    width: 100%;
    margin-bottom: 64px;
}

.conditions__container {
    max-width: 1150px;
    width: 100%;
    display: flex;
}

.conditions-general {
    width: calc(100% - 542px);
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    flex-direction: column;
    padding-right: 70px;
}

/*.title {*/
/*    font-family: 'GetVoIP Grotesque Regular', sans-serif;*/
/*    font-weight: 700;*/
/*    font-size: 48px;*/
/*    line-height: 1.35417;*/
/*    color: var(--dark-gray);*/
/*}*/

.subtitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.22727;
    color: var(--ligth-gray);
}

.conditions-general__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    color: var(--dark-gray);
    margin-bottom: 26px;
}

.conditions-peculiarities {
    width: 542px;

}

.conditions-peculiarities__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(170px, auto);
    column-gap: 22px;
    row-gap: 24px;
}

.conditions-peculiarities__item {
    border: 1px solid var(--5);
    border-radius: 20px;
    padding: 32px 24px;
    /*box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);*/
    background: #fefefe;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    transition: 0.3s ease-in;
}

.conditions-peculiarities__item:hover {
    /*box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);*/
    background: var(--5);
    border-color: var(--5);
}

.title-cart {
    font-family: 'TT Norms Pro Bold', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: var(--dark-gray);
}

.subtitle-cart {
    font-family: 'TT Norms Pro Bold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22222;
    color: var(--dark-gray);
}

.text-cart {
    font-family: 'TT Norms Pro Light', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.06;
    text-align: center;
    color: var(--dark-gray);
}

/*.conditions-peculiarities__item:hover .title-cart,*/
/*.conditions-peculiarities__item:hover .subtitle-cart,*/
/*.conditions-peculiarities__item:hover .text-cart {*/
/*    color: var(--main-bg);*/
/*}*/

.cooperation-section {
    width: 100%;
    padding: 90px 0;
}

.cooperation-section__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 26px;
}

.cooperation-section__text {
    order: 2;
    width: calc(100% - 460px);
    padding-right: 50px;
}

.cooperation-section__text-title {
    margin-bottom: 30px;
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    color: var(--dark-gray);
}

.cooperation-section__text-subtitle {
    margin-bottom: 60px;
}

.cooperation-section__text-title {
    font-size: 32px;
    line-height: 1;
}

.cooperation-section__text-subtitle {
    font-size: 20px;
    line-height: 1.1;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.item {
    padding: 0;
    margin: 0;
    position: relative;
    padding-left: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    color: var(--dark-gray);
    display: flex;
    align-items: center;
}

.item::before {
    position: absolute;
    content: '';
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/cooperation/checkbox.svg") no-repeat center/cover;
}

.cooperation-section__image-box {
    max-width: 772px;
    order: 1;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.about-program {
    width: 100%;
    /*margin-bottom: 90px;*/
}

.about-program__container {
    max-width: 1440px;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-orange);
}

.about-program__image-box {
   width: 820px;
    margin-right: 60px;
    height: 600px;
}

.about-program__content {
    max-width: 604px;
    width: 100%;
    height: 100%;
}

.about-program__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    color: var(--main-bg);
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.25;
}

.about-program__subtitle {
    color: var(--title-color-ligth);
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
}

.about-program__link {
    max-width: 270px;
    width: 100%;
    line-height: 50px;
    height: 50px;
    background: #fefefe;
    color: var(--dark-gray);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.about-program__link:hover {
    background: var(--dark-gray);
    color: #fefefe;
}

.questions-answers {
    width: 100%;
    padding: 90px 0;
}

.questions-answers__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.questions-answers__title {
    max-width: 720px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
}

.questions-answers__btn {
    position: relative;
    max-width: 340px;
    padding-right: 64px;
    padding-left: 0;
    font-family: 'TT Norms Pro Bold', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--dark-gray);
    white-space: wrap;
    text-align: left;
    transition: 0.3s ease-in;
}

.questions-answers__btn:hover {
    color: var(--color-orange);
}

.questions-answers__btn::after {
    position: absolute;
    content: '';
    display: block;
    width: 21px;
    height: 16px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: url('../images/catalog/arr_right_orange.svg') no-repeat center/cover;
}

.questions-answers-tabs {
    width: 100%;
}

.questions-answers-tabs__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(110px, auto);
    column-gap: 24px;
    row-gap: 30px;
}

.questions-answers-tabs__item {
    width: 100%;
    min-height: 110px;
    display: flex;
    position: relative;
    padding: 40px 20px;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease-in;
    cursor: pointer;
    flex-direction: column;
    border: 1.50px solid var(--5);
    border-radius: 15px;
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: #fff;
    overflow: hidden;
    margin-bottom: auto;
    font-size: 22px;
}

.item__title {
    font-family: 'Golos Text Medium', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: var(--dark-gray);
}

.item__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22222;
    color: var(--ligth-gray);
    padding-top: 20px;
    opacity: 0.8;
    margin-top: -100%;
    transition: 0.1s ease-in opacity;
}

.questions-answers-tabs__item_click {
    border-color: var(--color-orange);
    padding: 30px 20px;
    transition: 0.3s ease-in;
}

.item__desc_click {
    opacity: 1;
    margin-top: 0;
    transition: 0.5s ease-in opacity;
}

.questions-answers-tabs__item::after {
    transition: 0.3s ease-in;
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    right: 20px;
    display: block;
    background: url("../images/cooperation/plus.svg") no-repeat center/cover;
}

.questions-answers-tabs__item_click::after {
    transform: rotate(45deg);
}

.cooperation-banner-form-representation .form-representation__title {
    font-size: 40px;
}

.cooperation-banner-form-representation.form-representation {
    padding-top: 110px;
}

.big-catalog {
    width: 100%;
    background: #fcfcfc;
}

.big-catalog__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.big-catalog__text {
    width: 456px;
    margin-right: 30px;
}

.big-catalog__text-title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    max-width: 456px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1;
}

.big-catalog__text-subtitle {
    width: 100%;
    margin-bottom: 40px;
}

.big-catalog__text-btn {
    max-width: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: var(--dark-gray);
    color: var(--main-bg);
    transition: 0.3s ease-in;
}

.big-catalog__text-btn:hover {
    background-color: var(--color-orange);
}

.big-catalog__images {
    width: 682px;
    height: 800px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
    margin-right: -40px;
}

.big-catalog__images-vertical-line {
    width: 50%;
    height: 100%;
}

.big-catalog__images-vertical-line_left {
    margin-top: 21px;
}

.big-catalog__images-vertical-line_right {
    margin-top: -100px;
}

.big-catalog__images-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.big-catalog__images-item {
    width: 100%;
    border: 1px solid var(--5);
    height: 221px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

