.favourite-section-body__container {
    max-width: 1188px;
    width: 100%;
    padding: 0 11px;

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}


.favourite-section {
    width: 100%;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

    .favourite-section__title {
        font-family: 'GetVoIP Grotesque Regular', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;

    }

    .news-page__search-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 30px;

        .news-page__search-buttons-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .left-btns {
                width: 50%;
                display: flex;
                align-items: center;
                column-gap: 15px;

                .left-btns-title {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.22222;
                    color: var(--dark-gray);
                    margin-right: 30px;
                }

                .left-btn {
                    padding: 0 20px;
                    line-height: 45px;
                    height: 45px;
                    font-weight: 400;
                    font-size: 18px;
                    text-align: right;
                    border-radius: 30px;
                    background: rgba(142, 142, 142, 0.19);
                    color: var(--ligth-gray);
                    transition: 0.3s ease-in;
                }

                .left-btn__selected {
                    background-color: var(--color-orange);
                    box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
                    color: var(--title-color-ligth);
                }
            }

            .right-btns {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                @media (max-width: 1024px) {
                    width: 100%;
                }

                .right-btns-title {
                    font-weight: 400;
                    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
                    line-height: 1.22222;
                    color: var(--dark-gray);
                    margin-right: 16px;

                    @media (max-width: 768px) {
                        max-width: 100%;
                        margin-right: 7px;
                    }
                }

                .right-btn {
                    font-weight: 400;
                    font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
                    padding: 0;
                    background-color: transparent;
                    border-radius: 0;
                    color: var(--ligth-gray);
                    margin-right: 25px;
                    transition: 0.3s ease-in;
                    height: 45px;
                    line-height: 45px;

                    @media (max-width: 768px) {
                        margin-right: 7px;
                    }
                }

                .right-btn:last-child {
                    padding: 0;
                    margin: 0;
                }

                .btn-accent {
                    color: var(--color-orange);
                }
            }
        }

        .news-page__search-header-input {
            width: 100%;

            form {
                display: grid;
                grid-template-columns: 1fr 200px;
                grid-template-rows: 60px 20px;
                gap: 30px 10px;
                grid-template-areas:
        'input button'
        '. reset';

                @media (max-width: 580px) {
                    grid-template-columns: 1fr;
                    grid-template-rows:  20px 50px 50px;
                    grid-template-areas:
                    'reset'
                    'input'
                    'button';
                    gap: 24px 0;
                }


                input {
                    display: flex;
                    grid-area: input;
                    outline: none;
                    border: none;
                    background-color: var(--5);
                    border-radius: 43px;
                    padding: 0 30px;
                    vertical-align: middle;
                    align-items: center;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.22222;
                    color: var(--dark-gray);

                    @media (max-width: 580px) {
                        height: 50px;
                        line-height: 50px;
                    }
                }

                input::placeholder {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.22222;
                    color: var(--ligth-gray);
                }

                .form-search-btn {
                    grid-area: button;
                    justify-content: center;
                    background-color: var(--dark-gray);

                    @media (max-width: 580px) {
                        height: 50px;
                        line-height: 50px;
                    }
                }

                .form-search-btn-reset {
                    grid-area: reset;
                    height: 25px;
                    line-height: 25px;
                    border-radius: 0;
                    background-color: transparent;
                    position: relative;
                    font-weight: 400;
                    font-size: 18px;
                    color: var(--ligth-gray);
                    justify-content: flex-end;

                    @media (max-width: 580px) {
                        justify-content: flex-start;
                        padding-left: 0;
                        padding-right: 0;
                        max-width: 110px;
                    }
                }

                .form-search-btn-reset::after {
                    position: absolute;
                    display: block;
                    content: '';
                    height: 13px;
                    width: 13px;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background: url('../images/news-sec/reset.svg') center center/cover no-repeat;

                    @media (max-width: 580px) {
                        right: 0;
                    }
                }
            }
        }
    }
}


.favourite-section-body {
    padding: 30px 0 60px;

    .favourite-section-body-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .buttons-box {

            .buttons-box__link {

                @media (max-width: 580px) {
                    justify-content: center;
                    padding: 0;
                    max-width: 150px;
                }

            }

            .buttons-box__link::before {

                @media (max-width: 580px) {
                    left: 0;
                }
            }

            .pagination-wrap {
                .ul-btn.pagination {
                    margin-top: 0;
                }
            }
        }
    }

    .favourite-section-body__list {
        grid-template-columns: repeat(3, minmax(300px, 360px));
        column-gap: 43px;
        row-gap: 60px;
        margin-bottom: 60px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, minmax(300px, 360px));
        }

        .catalog-categories__body-item {
            @media (max-width: 768px) {
                max-width: 360px;
            }

            @media (max-width: 580px) {
                max-width: 275px;
            }

        }
    }
}