.header {
  position: relative;
  top: 0;
  width: 100%;
  /* background-color: var(--dark-gray); */
  /* background-color: rgba(239, 239, 239, 1); */
  z-index: 600;
}
.header_fixed {
  position: fixed;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.35);
}
.header-menu-modal__container {
  max-width: 1220px;
  padding: 0 45px 50px 45px;
  border-bottom: 1.5px solid #dcdcdc;
  border-radius: 0 0 30px 30px;
  background: #fff;
}
/*header__top*/
.header__top {
  padding: 6px 0;
  width: 100%;
  background-color: rgba(239, 239, 239, 1);
}
.header__top_none {
  display: none;
}
.header__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--title-color-ligth);
  margin-right: auto;
}
.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-right: 10px;
}
.header__contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--dark-gray);
  display: inline-flex;
  align-items: center;
}
.header__contacts-link > span {
  text-decoration: none;
  text-align: center;
}
.header__contacts-link-icon {
  display: inline-flex;
  height: 17px;
  width: 17px;
  margin-right: 10px;
}

.header__contacts-link-icon path {
  stroke: var(--color-orange);
}
.header__lang {
  border-radius: 50px;
  padding: 0 15px;
  max-width: 137px;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.15);
}
.header__lang-box {
  max-width: 137px;
  width: 100%;
  height: 100%;
}
.header__lang-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1px;
}
.header__lang-item a {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.1;
  color: var(--dark-gray);
}
.header__lang-item a img {
  margin-right: 10px;
}

.header__lang-item a input {
  display: block;
  justify-self: flex-end;
}
/*header__down*/
.header__down {
  width: 100%;
  background-color: var(--title-color-ligth);
  padding: 22px 0 18px;
}
.header__container-down {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* column-gap: 20px; */
}
.header__logo {
  width: 194px;
  height: 58px;
  margin-right: 71px;
  /* margin-left: auto;
  margin-right: auto; */
}
.header__logo-link {
  width: 100%;
  height: 100%;
  display: inline-flex;
}
.header__logo-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.header__search {
  max-width: 384px;
  width: 100%;
  position: relative;
  margin-right: 39px;
}
.btn-search-reset {
  display: none;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--ligth-gray);
  margin-right: 43px;
  height: 42px;
  line-height: 42px;
}
.btn-search-reset-active {
  display: flex;
}
.header__search-form-icon {
  border-radius: 100%;
  background-color: transparent;
  /* padding: 10px; */
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  path {
    stroke: var(--color-orange);
  }
}
.header__search input {
  width: 100%;
  border-radius: 100px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(221, 221, 221, 1);
  font-size: 18px;
  line-height: 1.1;
  color: var(--dark-gray);
  text-align: left;
  padding-left: 57px;
}
.header__user {
  /* border-radius: 30px; */
  padding-left: 20px;
  padding-right: 20px;
  /* border-left: 1px solid rgba(221, 221, 221, 1); */
  border-radius: 0;
  position: relative;
}
.header__user::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header__user-btn {
  background: transparent;
  padding: 0;
  width: 137px;
  height: 40px;
  /* margin-right: 10px; */
  /* margin-left: 30px; */
  line-height: 40px;
  text-align: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
  color: var(--dark-gray);
  font-size: 20px;
}
.header__user-btn-icon {
  width: 37px;
  height: 37px;
  background-color: transparent;
  padding: 0;
  border-radius: 100%;
  path {
    stroke: var(--color-orange);
  }
}

.header__user-btn:hover {
  /*background-color: var(--color-orange);*/
}

.header__contact-us {
  border-radius: 30px;
  padding-left: 20px;
  position: relative;
}
.header__contact-us::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact-us__btn {
  border: none;
  outline: none;
  width: 267px;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  justify-content: center;
  background: var(--color-orange);
  /* background: linear-gradient(270deg, #eb6320 0%, #2b2a29 100%); */
  transition: 0.3s ease-in;
}
.contact-us__btn:hover {
  background-color: var(--ligth-gray);
}

.header__favorites {
  /* width: 158px; */
  height: 37px;
  line-height: 37px;
  transition: 0.3s ease-in;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.header__favorites::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  background-color: rgba(221, 221, 221, 1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.favorites__btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
}
.favorites__btn > svg {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 10px 0;
  border-radius: 100%;
  transition: 0.3s ease-in;
  path {
    stroke: var(--color-orange);
  }
}
.header__favorites:hover .favorites__btn {
  transition: 0.3s ease-in;
}
/*header__menu*/
.header__menu {
  margin-top: -1px;
  width: 100%;
  padding: 23px 0 23px;
  /* background-color: var(--dark-gray); */
  /* color: var(--dark-gray); */
  position: relative;
  background-color: var(--main-bg);
  z-index: -1;
  transition: 0.5s linear;
  /* margin: 0 auto; */
}

.header__menu_hidden {
  margin-top: -80px;
}
.header__menu-active {
  margin-top: 0;
  transition: 0.5s linear;
}

.header__container-menu {
  /* max-width: 1106px; */
  width: 100%;
  padding: 0;
}
.header__navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navigation__item {
  padding: 0 18px;
}
.navigation__link {
  padding: 0;
  font-size: 18px;
  line-height: 0.91667;
  text-align: center;
  /* color: var(--title-color-ligth); */
  color: var(--dark-gray);
  transition: 0.1s ease-in;
}
.navigation__link:hover {
  color: var(--color-orange);
}

.navigation__link-active {
  color: var(--color-orange) !important;
}
.navigation__link_drd {
  position: relative;
  padding-right: 34px;
}

.navigation__link_drd::after {
  position: absolute;
  align-items: center;
  top: 5px;
  content: '';
  width: 14px;
  height: 14px;
  display: inline-flex;
  background: url('../images/menu/arr_down_orange.svg') no-repeat center / cover;
  transition: 0.1s ease-in;
  right: 10px;
}
.navigation__link:hover.navigation__link_drd::after {
  transform: rotate(180deg);
}

.navigation__link_drd-active::after {
  position: absolute;
  align-items: center;
  top: 5px;
  content: '';
  width: 14px;
  height: 14px;
  display: inline-flex;
  /* background: url('../images/menu/arr_down_orange.svg') no-repeat center / cover; */
  transform: rotate(180deg);
  transition: 0.1s ease-in;
  right: 10px;
}
/* .header-menu-modal */
.header-menu-modal {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}
.header-menu-modal-active {
  display: block;
}

.header-menu-modal::-webkit-scrollbar {
  width: 0;
}
.header-menu-modal2 {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-menu-modal2-active {
  display: block;
}

.sticky {
  position: relative;
}
.header-menu-modal__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1.5px solid var(--5);
}
.header-menu-modal__close-btn {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin-right: auto;
}

.header-menu-modal__close-btn:hover svg path {
  stroke: var(--color-orange);
}
.header-menu-modal__header-title {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1.01562;
  color: var(--dark-gray);
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  margin-right: 25px;
  margin-left: auto;
}

.header-menu-modal__header-link {
  font-family: 'TT Norms Pro Regular', sans-serif;
  line-height: 50px;
  border-radius: 46px;
  max-width: 267px;
  height: 50px;
  cursor: pointer;
  padding-right: 64px;
  width: 100%;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--title-color-ligth);
  background: var(--dark-gray);
  transition: all 0.3s ease-in;
}
.header-menu-modal__header-link:hover {
  color: var(--color-orange);
}

.header-menu-modal__header-link::after {
  position: absolute;
  content: none;
  top: 50%;
  transform: translateY(-50%);
  right: 26px;
  width: 21px;
  height: 16px;
  background: url('../images/catalog/arr_right_orange.svg') no-repeat
    center/cover;
}
.header-menu-modal__body {
  width: 100%;
  position: relative;
  padding-top: 15px;
}

.header-menu-modal__body-top {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.header-menu-modal__body-top-box1,
.header-menu-modal__body-top-box2,
.header-menu-modal__body-top-box3 {
  width: calc((100% - 78px) / 3);
}

.header-menu-modal__body-top-box1,
.header-menu-modal__body-top-box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.header-menu-modal__body-top-box1-list,
.header-menu-modal__body-top-box2-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header-menu-modal__body-top-box3-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.after-element {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.after-element::after {
  position: absolute;
  content: '';
  /*top: 0;*/
  right: 5px;
  width: 21px;
  height: 15px;
  background: url('../images/menu/arr_black_right.svg') no-repeat center/cover;
  transition: all 0.3s ease-in;
}

.after-element:hover::after {
  background: url('../images/menu/arr_orange_right.svg') no-repeat center/cover;
}
.header-menu-modal__body-top-box2-title,
.header-menu-modal__body-top-box1-title {
  font-family: 'TT Norms Pro Medium', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--dark-gray);
  padding: 8px 42px 8px 8px;
  margin-bottom: 10px;
}
.header-menu-modal__body-top-box1-item,
.header-menu-modal__body-top-box2-item {
  padding: 12px 42px 12px 8px;
  transition: all 0.3s ease-in;
}

.header-menu-modal__body-top-box1-item:hover,
.header-menu-modal__body-top-box2-item:hover {
  background: var(--5);
}
.header-menu-modal__body-top-box1-link,
.header-menu-modal__body-top-box2-link {
  font-family: 'TT Norms Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--dark-gray);
}

.header-menu-modal__body-top-box1-title:hover,
.header-menu-modal__body-top-box2-title:hover,
.header-menu-modal__body-top-box3-title:hover {
  color: var(--color-orange);
}
.header-menu-modal__body-top-box3-link {
  width: 100%;
  font-family: 'TT Norms Pro Medium', sans-serif;
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--dark-gray);
  padding: 8px 42px 8px 8px;
  transition: all 0.3s ease-in;
}

.header-menu-modal__body-top-box3-link:hover {
  color: var(--color-orange);
}
.header-menu-modal__body-top.menu-modal2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 206px 30px;
  row-gap: 10px;
  column-gap: 39px;
  grid-template-areas:
    'box1 box2 box3'
    'down1 . .';
}

.top-box1 {
  grid-area: box1;
  width: 100%;
}

.top-box3 {
  grid-area: box3;
  width: 100%;
}

.top-box2 {
  grid-area: box2;
  width: 100%;
}

.down-box1 {
  grid-area: down1;
  width: 100%;
}
.header-menu-modal__body-down-left {
  max-width: 100%;
  display: flex;
  width: 100%;
}

.header-menu-modal__body-down-left-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.header-menu-modal__body-down-left-item {
  margin-left: 20px;
}

.header-menu-modal__body-down-left-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 60px;
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--dark-gray);
  transition: all 0.3s ease-in;
  padding-right: 60px;
}
.header-menu-modal__body-down-left-link::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 46px;
  height: 46px;
  background: url('../images/menu/arr_topright_grey.svg') no-repeat center/cover;
  transition: all 0.3s ease-in;
}

.header-menu-modal__body-down-left-link:hover {
  color: var(--color-orange);
}
.header-menu-modal__body-down-left-link:hover::after {
  background: url('../images/menu/arr_topright_hover.svg') no-repeat
    center/cover;
  transition: all 0.3s ease-in;
}

.btn.header-menu-modal__body-top-link.header-menu-modal__body-top-link_down {
  border-radius: 95px;
  width: 134px;
  background-color: var(--dark-gray);
  text-align: center;
  color: var(--title-color-ligth);
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: 0.3s ease-in;
  height: 50px;
  line-height: 50px;
}

.btn.header-menu-modal__body-top-link.header-menu-modal__body-top-link_down
  > svg {
  margin-left: 20px;
}

.btn.header-menu-modal__body-top-link.header-menu-modal__body-top-link_down:hover {
  background-color: var(--color-orange);
}

.btn.header-menu-modal__body-top-link.header-menu-modal__body-top-link_down::after {
  content: none;
}

.header-menu-modal__body-down-right {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  width: 100%;
  height: 440px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
}

.header-menu-modal__body-down-right-baner {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.header-menu-modal__body-down-right-baner-img {
  width: 100%;
  height: 50%;
}

.header-menu-modal__body-down-right-baner-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.header-menu-modal__body-down-right-baner-box {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-gray);
  justify-content: center;
  width: 100%;
  padding: 30px;
  height: 50%;
}
.header-menu-modal__body-down-right-baner-box > h3 {
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: var(--title-color-ligth);
  margin-bottom: 45px;
}
/*.baner__btn {*/
/*    max-width: 303px;*/
/*    width: 100%;*/
/*    background-color: var(--color-orange);*/
/*    color: var(--title-color-ligth);*/
/*    text-align: center;*/
/*    -webkit-box-pack: center;*/
/*    -ms-flex-pack: center;*/
/*    justify-content: center;*/
/*    -webkit-transition: 0.3s ease-in;*/
/*    -o-transition: 0.3s ease-in;*/
/*    transition: 0.3s ease-in;*/
/*}*/

/*.baner__btn:hover {*/
/*    background-color: var(--ligth-gray);*/
/*}*/

.menu {
  padding: 0;
  margin: 0;
  width: 0;
  height: 50px;
  /* background-color: blue; */
  margin-left: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in;
  cursor: pointer;
}

.menu svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.menu_menu {
  width: 81px;
  height: 50px;
  /* background-color: blue; */
  margin-left: 20px;
  opacity: 1;
}

.header__search {
  transition: max-width 0.5s ease-in;
}

.header__search_menu {
  max-width: 300px;
}
