.breadcrumbs__menu-about-page {
    margin-bottom: 60px;
}

.menu-about-page__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(450px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    padding-bottom: 200px;
}

.horizontal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 53px 30px 50px;
}

.vertical__rev {
    flex-direction: column-reverse;
    padding: 30px;
    justify-content: flex-end;
}

.text {
    padding: 30px 32px 56px;
}

.title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 0.675;
    color: var(--dark-gray);
}

.subtitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 0.955;
    color: var(--ligth-gray);
    margin-bottom: 30px;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 60px;
    width: 212px;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    font-size: 20px;
    color: var(--dark-gray);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.link::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    right: 0;
    background-color: var(--dark-gray);
    border-radius: 50%;
    transition: 0.3s ease-in;
}

.link::after {
    position: absolute;
    content: '';
    width: 19px;
    height: 16px;
    left: calc(100% - 40px);
    background: url("../images/about-menu/arr_right.svg") no-repeat center center/cover;
}

.link:hover {
    color: var(--color-orange);
}

.link:hover::before {
    background-color: var(--color-orange);
}

.about-menu-about__container, .about-menu-advantages__container,
.about-menu-cooperation__container, .about-menu-our-projects__container {
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: var(--main-bg);
    border: 1.5px solid var(--5);
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.about-menu-about__container:hover, .about-menu-advantages__container:hover,
.about-menu-cooperation__container:hover, .about-menu-our-projects__container:hover {
    border: 1.50px solid var(--color-orange);
}

.about-menu-about {
    grid-column: 1/3;
    grid-row: 1/2;
}

.about-menu-about__text {
    margin-top: auto;
    width: 517px;
}

.about-menu-about__image-box {
    width: calc(100% - 517px);
    height: 100%;
}

.about-menu-about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-menu-cooperation {
    margin-top: 36px;
}

.about-menu-our-projects {
    grid-column: 1/3;
    grid-row: 3/4;
}

.about-menu-our-projects__text {
    margin-top: auto;
    width: 517px;
}

.about-menu-our-projects__image-box {
    width: calc(100% - 517px);
    height: 100%;
}

.about-menu-our-projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-menu-advantages__text,
.about-menu-cooperation__text {
    padding: 0;
}

.about-menu-advantages__title {
    margin-bottom: 27px;
}

.about-menu-advantages__text {
    margin-bottom: 30px;
}

.about-menu-advantages__image-box,
.about-menu-advantages__image-box {
    border-radius: 15px;
    overflow: hidden;

}

.about-menu-advantages__image-box {
    width: 100%;
    height: 300px;
}

.about-menu-cooperation__image-box {
    width: 100%;
    height: 305px;
    margin-bottom: 30px;
}

.about-menu-advantages__img, .about-menu-cooperation__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}