/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}

.modals {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.modals_opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    visibility: visible;
}

.modals__wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modals__container {
    max-width: 115rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.modals__form {
    max-width: 37.6rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal-cookies {
    max-width: 100rem;
    width: 100%;
    /* display: flex; */
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3rem 6rem;
    background-color: var(--dark-gray);
    border-radius: 30px;
}

.modal-cookies__text {
    max-width: 63rem;
    width: 100%;
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--main-bg);
}

.modal-cookies__link {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--main-bg);
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

.modal-cookies__btn {
    border: 1.5px solid var(--title-color-ligth);
    border-radius: 30px;
    max-width: 220px;
    width: 100%;
    background: transparent;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modals__text-box {
    max-width: 65rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modals__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 0.95;
    color: var(--main-bg);
    margin-bottom: 3rem;
}

.modals__desc {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--main-bg);
}

.modals-availability {
    padding: 5rem 0;
    width: 100%;
    background-color: var(--dark-gray);
}

.modals-availability__btn-link {
    max-width: 27rem;
    width: 100%;
    background-color: var(--color-orange);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-availability__btn-link:hover {
    background-color: var(--ligth-gray);
}

.modals-catalog {
    width: 100%;
    padding: 3rem 0;
    background-color: var(--dark-gray);
}

.modals-catalog__title {
    margin-bottom: 0;
}

.modals-catalog__btn-download {
    max-width: 27rem;
    width: 100%;
    margin-right: 1.6rem;
    border: 1.5px solid var(--color-orange);
    border-radius: 30px;
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-catalog__btn-download:hover {
    background-color: var(--color-orange);
    color: var(--main-bg);
    border-color: var(--main-bg);
}

.modals-catalog__btn-link {
    max-width: 27rem;
    width: 100%;
    border-radius: 30px;
    background-color: var(--color-orange);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-catalog__btn-link:hover {
    background-color: var(--ligth-gray);
}

.modals-connection {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--dark-gray);
}

.modal-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 1.5rem;
}

.modal-form > input {
    -webkit-box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
    background: var(--title-color-ligth);
    border: 1.5px solid var(--5);
    border-radius: 100px;
    padding: 8px 10px 8px 30px;
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    height: 60px;
    color: var(--dark-gray);
}

.modal-form > input::-webkit-input-placeholder {
    color: var(--ligth-gray);
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > input::-moz-placeholder {
    color: var(--ligth-gray);
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > input:-ms-input-placeholder {
    color: var(--ligth-gray);
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > input::-ms-input-placeholder {
    color: var(--ligth-gray);
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > input::placeholder {
    color: var(--ligth-gray);
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form > .modal-form__btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-orange);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modal-form > .modal-form__btn:hover {
    background-color: var(--ligth-gray);
}

.modal-form__callback-form-policy {
    margin-left: 0;
}


.modals-zakaz {
    max-width: 71rem;
    min-height: 70rem;
    width: 100%;
    background-color: var(--dark-gray);
    padding: 6rem 8rem 4.6rem;
    border-radius: 30px;
}

.modals-zakaz__text-box {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.modals-zakaz__title {
    color: var(--color-orange);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.01562;
    margin-bottom: 0;
}

.modals-zakaz__btn {
    background-color: transparent;
    border: none;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-zakaz__btn svg path {
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-zakaz__btn:hover svg path {
    stroke: var(--color-orange);

}

.modals-zakaz__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3rem;
}

.modal-zakaz__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal-zakaz__form-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: var(--title-color-ligth);
    margin-bottom: 2rem;
}

.modal-zakaz__form-label-mail {
    margin-bottom: 3rem;
}

.modal-zakaz__form-input {
    margin-top: 2rem;
    border: 1px solid rgba(224, 224, 224, 0.2);
    border-radius: 8px;
    padding: 1.2rem 1.6rem;
    width: 55rem;
    height: 6rem;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.03);
}

.modal-zakaz__form-input::-webkit-input-placeholder {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-input::-moz-placeholder {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-input:-ms-input-placeholder {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-input::-ms-input-placeholder {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-input::placeholder {
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1;
    color: #828282;
}

.modal-zakaz__form-btn {
    width: 55rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--ligth-gray);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modal-zakaz__form-btn:hover {
    background-color: var(--color-orange);
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-zakaz__policy-text {
    max-width: 55rem;
    /*font-weight: 400;*/
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.22222;
    text-align: center;
    color: var(--title-color-ligth);
}

.modals-zakaz__policy-link {
    color: var(--color-orange);
    position: relative;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.modals-zakaz__policy-link:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -1.5px;
    width: 100%;
    height: 1px;
    background-color: var(--color-orange);
}