.news-page__hero {
  width: 100%;
  background-color: var(--5);
  /* height: 430px; */
  padding: 33px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .news__body-top {
    max-width: 1180px;

    .news__body-cart_horizontal-img {
      /* max-width: 683px; */
      width: 58%;
    }

    .news__body-cart_vertical-textbox {
      width: 42%;
    }
  }
}

.news-page__search {
  width: 100%;
  padding: 30px 0;

  .news-page__search-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 30px;

    .news-page__search-buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left-btns {
        width: 50%;
        display: flex;
        align-items: center;
        column-gap: 15px;

        .left-btns-title {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.22222;
          color: var(--color-dark);
          margin-right: 30px;
        }

        .left-btn {
          padding: 0 20px;
          line-height: 45px;
          height: 45px;
          font-weight: 400;
          font-size: 18px;
          text-align: right;
          border-radius: 30px;
          background: rgba(142, 142, 142, 0.19);
          color: var(--ligth-gray);
          transition: 0.3s ease-in;
        }

        .left-btn__selected {
          background-color: var(--color-orange);
          box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
          color: var(--title-color-ligth);
        }
      }

      .right-btns {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .right-btns-title {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.22222;
          color: var(--dark-gray);
          margin-right: 16px;
        }

        .right-btn {
          font-weight: 400;
          font-size: 18px;
          padding: 0;
          background-color: transparent;
          border-radius: 0;
          color: var(--ligth-gray);
          margin-right: 25px;
          transition: 0.3s ease-in;
          height: 45px;
          line-height: 45px;
        }

        .right-btn:last-child {
          padding: 0;
          margin: 0;
        }

        .btn-accent {
          color: var(--color-orange);
        }
      }
    }

    .news-page__search-header-input {
      width: 100%;

      form {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-rows: 60px 20px;
        gap: 30px 10px;
        grid-template-areas:
          'input button'
          '. reset';

        input {
          display: flex;
          grid-area: input;
          outline: none;
          border: none;
          background-color: var(--5);
          border-radius: 43px;
          padding: 0 30px;
          vertical-align: middle;
          align-items: center;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.22222;
          color: var(--dark-gray);
        }

        input::placeholder {
          font-weight: 400;
          font-size: 18px;
          line-height: 1.22222;
          color: var(--ligth-gray);
        }

        .form-search-btn {
          grid-area: button;
          justify-content: center;
          background-color: var(--dark-gray);
        }

        .form-search-btn-reset {
          grid-area: reset;
          height: 25px;
          line-height: 25px;
          border-radius: 0;
          background-color: transparent;
          position: relative;
          font-weight: 400;
          font-size: 18px;
          color: var(--ligth-gray);
          justify-content: flex-end;
        }

        .form-search-btn-reset::after {
          position: absolute;
          display: block;
          content: '';
          height: 13px;
          width: 13px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: url('../images/news-sec/reset.svg') center center/cover
            no-repeat;
        }
      }
    }
  }

  .news-page__search-body {
    width: 100%;
    padding: 13px 0 30px;

    .list-newq-cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* grid-template-rows: 453px; */
      gap: 60px 24px;
      margin-bottom: 30px;

      li {
        width: 100%;
        /* height: 453px; */
        position: relative;
        border-radius: 30px;
        overflow: hidden;
        border: 1.5px solid rgba(239, 239, 239, 1);

        /*a{*/
        /*  position: absolute;*/
        /*  top: 0;*/
        /*  left: 0;*/
        /*  bottom: 0;*/
        /*  right: 0;*/
        /*  z-index: 1;*/
        /*}*/


        .news__body-cart_vertical {
          width: 100%;
          /* height: 453px; */

          /*.img-box {*/
          /*  width: 100%;*/
          /*  height: 250px;*/

            img {
              width: 100%;
              height: 250px;
              object-fit: cover;
              display: block;
            }
          /*}*/

          .news__body-cart_vertical-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22222;
            text-transform: uppercase;
            margin-bottom: 15px;
          }
          .news__body-cart_vertical-subtitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.35714;
            text-transform: lowercase;
            color: var(--ligth-gray);
            margin-bottom: 30px;
          }
          .data-wrapper {
            width: 100%;
            .news__body-cart_vertical-data {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.57143;
              color: var(--ligth-gray);
            }
          }
        }
      }

      .li-hidden {
        display: none;
      }
    }

    .pagination-wrap {
      padding: 30px 0 0;
      justify-content: center;

      .prev-btn,
      .next-btn {
        position: relative;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;
        color: var(--dark-gray);
      }

      .next-btn::before {
        position: absolute;
        content: '';
        top: 50%;
        transform: translateY(-50%);
        right: -32px;
        width: 21px;
        height: 16px;
        background: url(../images/catalog/arr_right_orange.svg) no-repeat center /
          cover;
      }

      .prev-btn::before {
        position: absolute;
        content: '';
        top: 37%;
        transform: translateY(-50%);
        left: -32px;
        width: 21px;
        height: 16px;
        background: url(../images/catalog/arr_right_orange.svg) no-repeat center /
          cover;
        transform: rotate(180deg);
      }

      .li-pag-btn {
        /* margin: 0 10px; */
        font-weight: 400;
        font-size: 22px;
        line-height: 1.22727;
        color: var(--ligth-gray);
      }

      .li-pag-btn.active {
        color: var(--dark-gray);
      }
    }
  }
}
