.our-projects {
    width: 100%;
    padding: 90px 0;
    overflow: hidden;
}

.our-projects__header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
}

.our-projects__header-title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.01562;
    color: var(--dark-gray);
    margin-right: 20px;
    margin-bottom: 0;
}

.our-projects-swiper {
    display: flex;
    align-items: center;
}

.swiper-btn-box {
    position: relative;
    max-width: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-projects-prev__btn,
.our-projects-next__btn {
    position: relative;
}

.our-projects-next__btn {
    right: 7%;
}

.our-projects-prev__btn::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: url('../images/hero/prev_btn_d1.svg') no-repeat center/cover;
    transition: 0.3s ease-in;
}

.our-projects-prev__btn:hover::after {
    background: url('../images/hero/prev_btn.svg') no-repeat center/cover;
}

.our-projects-next__btn::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: auto;
    right: 13%;
    background: url('../images/hero/next_btn_black_slider.svg') no-repeat
    center/cover;
}

.our-projects-next__btn:hover::after {
    background: url('../images/hero/next_btn.svg') no-repeat center/cover;
}

.our-projects__header-link {
    position: relative;
    font-family: 'TT Norms Pro Bold', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--dark-gray);
    padding-right: 64px;
    transition: 0.3s ease-in;
}

.our-projects__header-link:hover {
    color: var(--color-orange);
}

.our-projects__header-link::after {
    position: absolute;
    content: '';
    display: block;
    width: 21px;
    height: 16px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: url('../images/catalog/arr_right_orange.svg') no-repeat
    center/cover;
}

.our-projects__contaiher-swiper {
    width: 100%;
}

.swiper-slide.our-projects-slide {
    position: relative;
    border-radius: 15px;
    max-width: 554px;
    width: 100%;
    height: 630px;
    overflow: hidden;
    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.56) 0%,
            rgba(0, 0, 0, 0.56) 100%
    ),
    url('../images/hero/bg_slider.jpg') no-repeat center/cover;
    margin-right: 22px;
    transition: 0.3s ease-in;
}

.gray {
    position: relative;
    padding: 52px 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.gray::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    -webkit-backdrop-filter: grayscale(1);
    backdrop-filter: grayscale(1);
}

.gray:hover::after {
    -webkit-backdrop-filter: grayscale(0);
    backdrop-filter: grayscale(0);
}

.our-projects-slide__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.gray:hover::before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
}

.cart__address {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--color-orange);
    margin-bottom: 15px;
}

.cart__title_light {
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: var(--title-color-ligth);
    margin-bottom: 30px;
}

.cart__subtitle_light {
    color: var(--title-color-ligth);
    position: absolute;
    opacity: 0;
    transition: 0.1s linear;
    font-size: 20px;
}

.swiper-slide.our-projects-slide.gray:hover .cart__subtitle_light {
    opacity: 1;
    position: relative;
    transition: 0.1s linear;
}

.our-projects-cart__btn-box.cart__btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
}

.our-projects-cart__btn-box > .cart__btn {
    margin: 0;
    max-width: 240px;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--dark-gray);
    color: var(--title-color-ligth);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
    line-height: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--color-orange);
}

.our-projects-cart__btn-box > .cart__btn:hover {
    background-color: var(--color-orange);
}

.our-projects-cart__btn-box > .cart__btn-details {
    max-width: 210px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: var(--title-color-ligth);
    transition: 0.1s ease-in;
    height: 60px;
    justify-content: flex-start;
}

.our-projects-cart__btn-box > .cart__btn-details::after {
    width: 60px;
    height: 60px;
    background: url('../images/hero/next_btn_d.svg') no-repeat center/cover;
    transition: 0.3s ease-in;
}

.our-projects-cart__btn-box > .cart__btn-details:hover::after {
    background: url('../images/hero/next_btn.svg') no-repeat center/cover;
    transition: 0.3s ease-in;
}

.our-projects-cart__btn-box > .cart__btn-details:hover {
    color: var(--color-orange);
    transition: 0.3s ease-in;
}