.card-info__title {
  font-family: 'TT Norms Pro Bold', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: var(--dark-gray);
  margin-bottom: 20px;
}

.card-info__title_orange {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: var(--dark-gray);
}

.card-info__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
  color: var(--dark-gray);
  margin-bottom: 22.5px;
}

.card-info__peculiarities {
  width: 100%;
  border-radius: 0;
  height: 340px;
  /* background-color: #f5f5f5; */
  overflow: hidden;
}

.table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  font-family: 'TT Norms Pro Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  color: var(--dark-gray);
  padding: 13px 30px;
  /* background: var(--dark-gray); */
  background-color: rgba(239, 239, 239, 1);
}

.table td {
  padding: 9px 30px;
  font-family: 'TT Norms Pro Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #232323;
}

.table tbody tr:hover {
  background: #cecece;
}

.breadcrumbs {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid var(--5);
}

.breadcrumbs__link {
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: var(--ligth-gray);
  margin-right: 15px;
  margin-left: 15px;
}

.breadcrumbs__link:first-child {
  margin-left: 0;
}

.breadcrumbs__links {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: var(--ligth-gray);
}

.breadcrumbs__links > span {
  margin-left: 15px;
  color: var(--color-orange);
}

.product-card {
  width: 100%;
  padding: 30px 0 60px;
}

.product-card .card-info__title {
  font-size: 30px;
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
}

.product-card-box {
  display: flex;
  column-gap: 46px;
}

.card {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  flex-direction: column;
  /* column-gap: 24px; */
  position: relative;
}

.card-slider {
  width: 100%;
  height: 570px;
  margin-bottom: 40px;
}

.slider-block {
  position: relative;
  height: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: 0.3s ease-in;
}

.slider-block::after {
  position: absolute;
  bottom: 31px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: block;
  content: '';
  background: url('../images/product-cart-sec/size.svg') no-repeat center/cover;
  z-index: 100;
  cursor: pointer;
  pointer-events: none;
}

.slider-block:hover {
  border-color: #d9d9d9;
}

.card-slider .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-slider .swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  padding: 0;
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.card-info__name {
  /* max-width: 457px; */
  width: 100%;
}
.card-info__name-title {
  padding: 0;
  margin: 0;
  color: var(--dark-gray);
  font-size: 22px;
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 20px;
}

.card-info__btn {
  max-width: 130px;
  width: 100%;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  top: 23px;
  left: 23px;
  display: flex;
  padding: 0 42px;
  background-color: var(--dark-gray);
  color: var(--title-color-ligth);
  line-height: 40px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  margin-left: auto;
  cursor: unset;
}

.slider-nav {
  width: 100%;
  height: 570px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider-nav__item {
  height: 88px;
  width: 136px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.slider-nav__item:hover {
  border-color: var(--dark-gray);
}

.slider-nav__item img {
  max-width: 100%;
  max-height: 100%;
}

.swiper-button-prev.product-card__btn_prev {
  left: 2px;
}

.swiper-button-next.product-card__btn_next {
  right: 2px;
}

.swiper-button-prev.product-card__btn_prev,
.swiper-button-next.product-card__btn_next {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-10%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  z-index: 50;
  transition: 0.3s ease-in;
}

.swiper-button-prev.product-card__btn_prev:hover,
.swiper-button-next.product-card__btn_next:hover {
  background-color: var(--color-orange);
}

.swiper-button-next.product-card__btn_next:after {
  position: absolute;
  width: 20px;
  height: 16px;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/product-cart-sec/arr_next.svg') no-repeat
    center/cover;
}

.swiper-button-prev.product-card__btn_prev:after {
  position: absolute;
  width: 20px;
  height: 16px;
  content: '';
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) translateY(50%);
  background: url('../images/product-cart-sec/arr_next.svg') no-repeat
    center/cover;
}

.swiper-button-next.product-card__btn_next.swiper-button-disabled,
.swiper-button-prev.product-card__btn_prev.swiper-button-disabled {
  display: none;
}

/*tabs*/
.product-cart-description {
  width: 100%;
  padding: 60px 0;
}

.product-cart-description-tabs {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.product-cart-description-tabs__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.product-cart-description-tabs__item {
  width: 50%;
}

.product-cart-description__text {
  border-radius: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 35px;
  background: var(--5);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark-gray);
  transition: 0.3s ease-in;
}

.watched-before__product-cart {
  padding: 22px 0 61px;
}

.watched-before__product-cart .products-slide {
  transition: all 0.3s ease-in;
}

.watched-before__product-cart .products-slide:hover {
  box-shadow: 0 0 22px 0 rgba(112, 112, 112, 0.15);
  background: #fff;
  border-color: var(--5);
}

.product-cart-description__video {
  border-radius: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 35px;
  background: var(--5);
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: var(--dark-gray);
  transition: 0.3s ease-in;
}

.product-cart-description__video:hover,
.product-cart-description__text:hover {
  color: var(--title-color-ligth);
  background: var(--dark-gray);
}

.product-cart-description-tabs__btn_active {
  pointer-events: none;
  background: var(--dark-gray);
  color: var(--title-color-ligth);
  cursor: unset;
}

.tabs__content {
  display: none;
  width: 100%;
}

.tabs__content_active {
  display: block;
}

.tabs__content > .content {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tabs__content > .content_one {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
}

.video-content {
  position: relative;
  max-width: 540px;
  width: 100%;
  height: 360px;
  border-radius: 15px;
  overflow: hidden;
}

.video-content_one {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.accordion*/
.accordion {
  margin-bottom: 25px;
}

.accordion__title {
  border-bottom: 1px solid var(--color-orange);
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.accordion__title-span-icon {
  width: 22px;
  height: 12px;
}

.accordion__title-span-icon::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 12px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/product-cart-sec/arr_orang_down.svg') no-repeat
    center/cover;
}

.accordion__title-h3 {
  font-family: 'Golos Text Medium', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: var(--dark-gray);
}

.accordion__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out 0.5s,
    visibility 0.1s ease-out 0.5s;
}

.accordion__list_active {
  visibility: visible;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.1s ease-out,
    visibility 0.1s ease-out;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-in;
  padding: 16px 20px;
}

.row1 {
  margin-top: 24px;
}

.row:hover {
  background: var(--5);
}

.left,
.right {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
  color: var(--dark-gray);
}

.video-container {
  position: relative;
}

.video-container__desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
}

.video-container__desc-text {
  max-width: 352px;
  width: 100%;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.2;
  color: var(--title-color-ligth);
}

.video-container__desc-play {
  max-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.video-container__desc-play-time {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: var(--title-color-ligth);
}

.video-control {
  width: 96px;
  height: 96px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.video-control span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-control span svg path {
  fill: var(--dark-gray);
}

.video-control:hover span svg path {
  fill: var(--main-bg);
}

.video-control__hidden {
  display: none;
}

.slick-next.slick-arrow,
.slick-prev.slick-arrow {
  font-size: 0;
  width: 0 !important;
  height: 0 !important;
}

.slick-prev {
  position: relative;
  left: 50%;
  bottom: 35px;
}

.slick-next {
  position: relative;
  left: 50%;
  bottom: -40px;
}

.slider-for .slick-slide {
  height: 570px;
}

.slider-for .slick-slide div {
  height: 100%;
}

.slider-nav2 {
  /* max-width: 132px; */
  width: 100%;
  /* padding: 70px 0; */
  padding: 0;
}

.slider-nav2 .slick-slide {
  margin: 0;
  border-radius: 4px;
  border: 2px solid transparent;
}

.slider-nav2 .slick-slide:hover {
  outline: none;
  border: none !important;
}

.slick-next::before {
  z-index: 50;
  content: '';
  position: absolute;
  top: -13px;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -32%) rotate(90deg);
  background: url(../images/hero/next_btn_black_litle.svg) no-repeat center /
    cover;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.slick-next:hover::before {
  background: url('../images/hero/next_btn.svg') no-repeat center/cover;
}

.slick-prev::before {
  z-index: 50;
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: url(../images/hero/prev_btn_d1.svg) no-repeat center / cover;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: 0.3s ease-in;
}

.slick-prev:hover::before {
  background: url('../images/hero/prev_btn.svg') no-repeat center/cover;
}

.slider-for .slick-prev.slick-arrow,
.slider-for .slick-next.slick-arrow {
  display: none !important;
  pointer-events: none;
}

.slider-for .slick-prev::before,
.slider-for .slick-next::before {
  content: none !important;
  pointer-events: none;
}

.slider-nav2 .slick-slide.slick-current.slick-active {
  border-color: var(--dark-gray);
  border-radius: 4px;
  border-width: 2px;
}
