.product-baner {
    width: 100%;
    background-color: var(--dark-gray);
    padding: 46px 0 44px;
}

.product-baner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-baner__text {
    max-width: 650px;
    margin-right: 10px;
}

.product-baner__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 0.95;
    color: var(--main-bg);
    margin-bottom: 17px;
}

.product-baner__subtitle {
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
    color: var(--main-bg);
}

.product-baner__btn {
    background: var(--dark-gray);
    border: 1px solid var(--color-orange);
    max-width: 270px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in;
}

.product-baner__btn:hover {
    background-color: var(--color-orange);
    box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.4);
}