/* .header__container-down .header__logo .none{
  display: none;
} */
/* .header__logo, header__user, header__contact-us, header__favorites  */
.header__search__active {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search__active .search__active-input {
  max-width: 83.8rem;
  width: 100%;
  margin-right: 1rem;
}
.search__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  width: 100%;
  background-color: var(--color-orange);
}
