
.header-menu-modal3 {
    display: none;
}

.header-menu-modal3-active {
    display: block;
}

.header__search-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header__search_active {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search .search__active-input {
    max-width: 691px;
    width: 100%;
    margin-right: 10px;
    text-align: left;
    padding-left: 20px;
    border: 1px solid var(--ligth-gray);
    height: 42px;
    line-height: 42px;
}

.search-input::placeholder {
    padding-left: 10px;
}

.search__btn {
    display: none;
}

.search__btn_active {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 166px;
    width: 100%;
    background-color: var(--dark-gray);
    line-height: 42px;
    height: 42px;
}

.header-menu-modal3 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-menu-modal3 .header-menu-modal__body-top {
    width: 100%;
    padding: 0 15px;
    border-bottom: none;
}

.header-menu-modal3 .header-menu-modal__body-top-list3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 28px;
}

.header-menu-modal3 .header-menu-modal__body-top-list3 .header-menu-modal__body-top-item {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-menu-modal3 .header-menu-modal__body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-result {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1.5px solid var(--5);
}

.search-result__title {
    font-family: 'Golos Text SemiBold', sans-serif;
    font-size: 24px;
    line-height: 1.25;
    color: var(--dark-gray);
    margin-bottom: 15px;
    padding: 20px 15px;
}

.search-result__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.search-result__item {
    padding: 1px 15px;
    opacity: 0.6;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.1;
    color: var(--dark-gray);
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.search-result__item:hover {
    background-color: var(--5);
}
/*Включить видимость для верстки*/
/*.header-menu-modal3 {*/
/*    display: block;*/
/*}*/

.header-search-box {
    width: 100%;
    padding: 42px 47px 20px 47px;
    display: flex;
    position: relative;


    .header-search-box__categories-container {
        max-width: 383px;
        width: 100%;
        border-right: 1.13px solid var(--5);

        .header-search-box__categories-list {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .header-search-box__categories-item {
                font-weight: 600;
                font-size: 14px;
                line-height: 1.21429;
                color: var(--color-orange);
                transition: color 0.3s ease-in;

                .subcategory-list {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;

                    .subcategory-item {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        border-bottom: 1px solid var(--5);
                        transition: 0.3s ease-in;
                        cursor: pointer;

                        svg {
                            width: 14px;
                            height: 14px;
                            object-fit: cover;
                            display: block;
                        }

                        .subcategory-item__title {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 1.33333;
                            color: var(--dark-gray);
                            transition: color 0.3s ease-in;
                        }
                    }

                    .subcategory-item:hover {
                        border-bottom: 1px solid var(--color-orange);

                        svg g path {
                            stroke: var(--color-orange);
                            stroke-opacity: 1;
                        }

                        .subcategory-item__title {
                            color: var(--color-orange);
                        }
                    }
                }
            }
        }
    }

    .header-search-box__result-container {
        width: 100%;

        .result-header {
            padding-left: 47px;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            margin-bottom: 25px;

            .result-header__title {
                font-family: 'Golos Text SemiBold', sans-serif;
                font-weight: 600;
                font-size: 24px;
                line-height: 1.25;
                color: var(--dark-gray);
            }

            .result-header__subtitle {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.21429;
                color: var(--ligth-gray);

                span {
                    color: var(--color-orange);
                }
            }
        }

        .result-body {
            padding-left: 47px;

            .result-list {
                display: flex;
                flex-direction: column;
                row-gap: 30px;

                .result-item {
                    display: flex;
                    /*align-items: center;*/
                    width: 100%;

                    .result-item-card {
                        display: flex;
                        align-items: center;

                        .item-card {
                            display: flex;
                            column-gap: 20px;
                            margin-right: 20px;

                            .item-card-img {
                                width: 90px;
                                height: 57px;
                                flex-shrink: 0;
                            }

                            .item-card-description {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: 10px;
                                max-width: 362px;

                                .item-card-description__stock {
                                    font-family: 'Golos Text SemiBold', sans-serif;
                                    font-weight: 600;
                                    font-size: 10px;
                                    line-height: 1;
                                    color: var(--color-orange);
                                }

                                .item-card-description__title {
                                    font-family: 'Golos Text Bold', sans-serif;
                                    font-weight: 700;
                                    font-size: 13px;
                                    line-height: 1.38889;
                                    color: var(--dark-gray);
                                }

                                .item-card-description__subtitle {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 1.27738;
                                    color: #6e6e6e;
                                }

                                .item-card-description__text-desc {
                                    font-weight: 400;
                                    font-size: 10px;
                                    line-height: 1.07057;
                                    color: var(--ligth-gray);
                                }
                            }
                        }

                        .item-favorites {
                            width: 38px;
                            height: 38px;
                            margin-right: 15px;

                            .item-favorites__btn {
                                width: 100%;
                                height: 100%;
                                padding: 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #EFEFEF;
                                transition: background-color 0.3s ease-in;

                                svg {
                                    transition: 0.3s ease-in;
                                }
                            }

                            .item-favorites__btn:hover {
                                background-color: var(--color-orange);

                                svg path {
                                    stroke: var(--main-bg);
                                }
                            }
                        }

                        .item-get-offer {
                            margin-right: 15px;
                            height: 38px;

                            .item-get-offer__btn {
                                padding: 0;
                                font-weight: 500;
                                font-size: 12px;
                                justify-content: center;
                                width: 172px;
                                height: 38px;
                                line-height: 38px;
                                background-color: #dfdfdf;
                                color: var(--dark-gray);
                                border-radius: 75px;
                                transition: background-color 0.3s ease-in, color 0.3s ease-in;
                            }

                            .item-get-offer__btn:hover {
                                background: var(--color-orange);
                                color: var(--main-bg);
                            }
                        }

                        .item-description {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            a {
                                font-family: 'Golos Text Medium', sans-serif;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 1.27738;
                                text-align: center;
                                color: var(--dark-gray);
                                transition: color 0.3s ease-in;
                            }
                        }

                        .item-description:hover {
                            a {
                                color: var(--color-orange);
                            }
                        }
                    }
                }
            }
        }
    }
}

.close-modal-search-button {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 43px;
    right: 80px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        transition: o .3s ease-in;
    }
}

.close-modal-search-button:hover {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 43px;
    right: 80px;
    border: none;
    outline: none;
    background: none;

    svg path {
        stroke: var(--color-orange);
    }
}

.header-menu-modal__container {
    max-width: 1440px
}