.header__lang {
  padding-left: 0;
  padding-right: 0;
}

.dropdown {
  position: relative;
  width: 100%;
  /* padding-left: 29px; */
  /* padding-right: 29px; */
  padding-left: 0;
  padding-right: 0;
  z-index: 10;
  /* background: var(--dark-gray); */
}

.header__lang-box {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  outline: none;
  border-color: transparent;
  font-family: 'TT Norms Pro Light', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  /* padding-right: 24px; */
  padding-right: 0;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  color: var(--dark-gray);
  cursor: pointer;
}

.header__lang-box::after {
  pointer-events: none;
  position: absolute;
  content: '';
  top: 54%;
  transform: translateY(-50%);
  right: 0;
  width: 16.5px;
  height: 11px;
  background: url('../images/header/arr_orange.svg') no-repeat center
    center/cover;
}

.header__lang-box > img {
  margin-right: 10px;
}

.dropdown__list {
  display: none;
  width: 310px;
  position: absolute;
  right: 0;
  top: 45px;
  box-shadow: 0 0 30px 0 rgba(215, 215, 215, 0.15);
  background: var(--title-color-ligth);
  border: 1.5px solid var(--5);
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  z-index: 4;
}

.dropdown__list_visible {
  display: block;
}

.dropdown__item {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.header__lang-box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  width: 100%;
  padding-right: 20px;
  color: var(--dark-gray);
  text-align: right;
}

.dropdown__label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 26px 15px 26px 15px;
  transition: 0.3s ease-in;
  font-family: 'TT Norms Pro Light', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.1;
  color: var(--dark-gray);
  cursor: pointer;
  order: 2;
}

.dropdown__label img {
  margin-right: 10px;
}

.dropdown__label > input {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.dropdown__item:hover {
  background-color: var(--dark-gray);
}

.dropdown__item:hover label {
  color: var(--color-orange);
}

.dropdown__item > img {
  order: 1;
}

.dropdown__item > input {
  order: 3;
}

/*checkbox*/

.real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-checkbox {
  margin-left: auto;
  color: var(--ligth-gray);
  transition: color 0.3s ease-in;
  right: 10px;
  position: absolute;
}

.real-checkbox:checked + .custom-checkbox {
  color: var(--color-orange);
}

.form-right .custom-checkbox {
  left: 0;
  top: 40%;
  transform: translateY(-50%);
}

.footer__callback-form-policy .custom-checkbox {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*checkbox*/
.form-representation__form.form-representation__form--anketa {
  justify-content: center;
  position: relative;
}

.anketa-flex-column {
  max-width: 615px;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 433px) 1fr;
  gap: 0 15px;
  grid-template-rows: 25px 160px;
  grid-template-areas:
    'label .'
    'text button';
  margin-bottom: 20px;
}
.form-right--anketa .anketa-flex-column .apteka-text {
  width: 100%;
  grid-area: label;
}

.form-right--anketa .anketa-flex-column textarea {
  width: 100%;
  height: 98px;
  margin-bottom: 15px;
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: rgba(217, 217, 217, 1);
  grid-area: text;
  border-radius: 8px;
  /* border: none; */
  border: 1px solid rgba(174, 174, 174, 1);
  outline: none;
  color: rgba(79, 79, 79, 1);
  font-size: 16px;
  line-height: 22px;
  padding: 19px 16px;
}
.input-file {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.form-representation__title.form-representation__title--anketa {
  /* max-width: 615px; */
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 1.21212; */
  line-height: 40px;
  text-align: left;
  margin: 0 auto 20px;
  color: var(--dark-gray);
}
.modals-form-representation .form-left {
  max-width: 615px;
}

.modals-form-representation .form-left.form-left--apteka {
  position: relative;
}
.modals-form-representation .form-right--anketa {
  max-width: 615px;
  width: 100%;
}
.form-right.form-right--anketa .custom-labal-apteka {
  padding-left: 46px;
}
.anketa-close {
  padding: 0;
  position: absolute;
  top: -50px;
  right: 0;
  width: 24px;
  height: 24px;
  color: rgba(162, 162, 162, 1);
}
.form-representation__form.form-representation__form--anketa label,
.form-representation__form.form-representation__form--anketa .policy {
  color: var(--dark-gray);
}
.form-representation__form.form-representation__form--anketa
  .anketa-flex-column {
  display: flex;
  flex-direction: column;
}
.form-representation__form--anketa-desc {
  text-align: left;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.form-representation__form.form-representation__form--anketa label,
.form-representation__form.form-representation__form--anketa .user-name,
.form-representation__form.form-representation__form--anketa
  .column1.column1__wrap {
  width: 100%;
  margin: 0;
}
.form-right--anketa .anketa-flex-column .label-input-file {
  grid-area: button;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0;
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  /* flex-direction: column; */
  border: 1px solid rgba(174, 174, 174, 1);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: rgba(217, 217, 217, 1);
  /* opacity: 0.67; */
  color: rgba(79, 79, 79, 1);
  font-size: 16px;
  line-height: 22px;
  transition: 0.3s ease-in;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }
}
.form-right--anketa .anketa-flex-column .label-input-file:hover {
  background-color: var(--dark-gray);
  color: var(--main-bg);
}
.anketa-grid-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 83px);
  grid-template-areas:
    'left-one right-one'
    'left-two right-two';
  gap: 25px 30px;
  margin-bottom: 25px;
}
.left-one {
  display: flex;
  flex-direction: column;
  grid-area: left-one;
}
.left-two {
  display: flex;
  flex-direction: column;
  grid-area: left-two;
}
.right-one {
  display: flex;
  flex-direction: column;
  grid-area: right-one;
}
.right-two {
  display: flex;
  flex-direction: column;
  grid-area: right-two;
}
.left-one input,
.left-two input,
.right-two input {
  margin: 0;
  background: rgba(217, 217, 217, 1);
  color: var(--dark-gray);
  /* border: 1px solid rgba(224, 224, 224, 0.2); */
  border: 1px solid rgba(174, 174, 174, 1);
  height: 50px;
}
.left-one input:focus,
.left-two input:focus,
.right-two input:focus,
.form-left .form-row3 .column1 select:focus {
  border: 1px solid var(--dark-gray);
}

.form-right--anketa .anketa-flex-column textarea:focus {
  border: 1px solid var(--dark-gray);
}
.form-representation__form.form-representation__form--anketa
  .form-left
  .form-row3
  .column1
  select {
  margin: 0;
  background: rgba(217, 217, 217, 1);
  color: var(--dark-gray);
  /* border: 1px solid rgba(224, 224, 224, 0.2); */
  border: 1px solid rgba(174, 174, 174, 1);
  height: 50px;
}

.form-representation.modals-form-representation.modals-form-representation-otzivi {
  .anketa-grid-input {
    gap: 20px 8px;
  }

  .otzivi-form-file-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
  }

  .foto-video {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .foto-video-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .form-right--anketa .anketa-flex-column .label-input-file {
    width: calc(100% / 2);
    display: inline-flex;

    svg {
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .label-input-link {
    background: rgba(217, 217, 217, 1);
    border: 1px solid rgba(174, 174, 174, 1);
    /* line-height: 47; */
    height: 47px;
    width: calc(100% / 2);
    margin-bottom: 0;
    color: var(--dark-gray);
  }

  .label-input-link::placeholder {
    background: rgba(217, 217, 217, 1);
    font-size: 16px;
    color: rgba(79, 79, 79, 1);
    margin-bottom: 0;
  }
}
