.stock-banner {
    width: 100%;
    margin-bottom: 60px;
}

.stock-banner__container {
    max-width: 100%;
    height: 500px;
    margin-bottom: 60px;
}

.stock-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stock-banner__desc {
    width: 100%;
}

.stock-banner__title {
    font-family: 'GetVoIP Grotesque Regular', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: var(--dark-gray);
    margin-bottom: 14px;
}

.stock-banner__subtitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.22727;
    color: var(--ligth-gray);
}

/*stock-product-cart*/
.stock-product-cart {
    width: 100%;
    padding-top: 20px;
}

.stock-product-cart__container {
    width: 100%;
}

.stock-product-cart__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 25px;
}
.stock-product-cart__item{
    width: 100%;
}

