.watched-before {
  width: 100%;
  padding: 86px 0 83px;
  border-bottom: 1.5px solid var(--5);
  overflow: hidden;
}

/* .right-slider {
  padding-right: 20%;
  margin-right: -30%;
} */

.watched-before__header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.watched-before__header-title {
  font-family: 'GetVoIP Grotesque Regular', sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 1.01562;
  color: var(--dark-gray);
  max-width: 810px;
  width: 100%;
  margin-bottom: 10px;
}

.watched-before-prev__btn,
.watched-before-next__btn {
  position: relative;
}

.btn__slider_prev.watched-before-prev__btn::after {
  position: absolute;
  top: -40px;
  left: auto;
  right: auto;
  bottom: auto;
}

.btn__slider_next.watched-before-next__btn::after {
  position: absolute;
  top: -40px;
  left: auto;
  right: auto;
  bottom: auto;
}

.watched-before .swiper-btn-box {
  height: 60px;
}

.watched-before .swiper-wrapper {
  padding: 20px 0;
}

.watched-before .swiper-wrapper .swiper-slide:first-child {
  /* margin-left: calc((100% - 1150px) / 2); */
}
.watched-before-swiper {
  padding-left: calc((100% - 1152px) / 2);
}
